In [159]:
import numpy as np
import pandas as pd
import pandas_profiling
# pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [230]:
building_permits = pd.read_csv('data/Building_Permits.csv',parse_dates=[10,11,12,13], infer_datetime_format=True)

In [231]:
res_bldg_prmts = building_permits[building_permits['PermitClassMapped']=='Residential'].copy()
demo = res_bldg_prmts[res_bldg_prmts['PermitTypeDesc']=='Demolition']

In [257]:
demo[(demo['StatusCurrent']!='Closed')&(demo['StatusCurrent']!='Completed')]

         PermitNum           PermitClass PermitClassMapped PermitTypeMapped PermitTypeDesc                                        Description  HousingUnits  HousingUnitsRemoved  HousingUnitsAdded  EstProjectCost AppliedDate IssuedDate ExpiresDate CompletedDate          StatusCurrent        OriginalAddress1 OriginalCity OriginalState  OriginalZip ContractorCompanyName                                               Link   Latitude   Longitude                                          Location1
10      6651511-DM           Multifamily       Residential       Demolition     Demolition  Demolish existing structure per subject to fie...           NaN                  1.0                0.0             NaN  2018-03-20 2018-03-20  2019-09-20    2019-09-25                Expired         2222 NW 64TH ST      SEATTLE            WA      98107.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.675513 -122.385734  2222 NW 64TH ST\nSEATTLE, WA 98107\n(47.675512...
41      6643736-DM           Multifamily       Residential       Demolition     Demolition  Demo existing single family residence, subject...           NaN                  1.0                0.0             0.0  2018-02-06 2019-09-25  2021-03-25           NaT                 Issued       2472 S COLLEGE ST      SEATTLE            WA      98144.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.583123 -122.300575  2472 S COLLEGE ST\nSEATTLE, WA 98144\n(47.5831...
60      6705485-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing single family residence for ...           0.0                  0.0                3.0             0.0  2018-12-27 2019-09-25  2021-03-25           NaT                 Issued        910 W EMERSON ST      SEATTLE            WA      98119.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.652514 -122.369215  910 W EMERSON ST\nSEATTLE, WA 98119\n(47.65251...
62      6639059-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demo existing single family residence subject ...           NaN                  1.0                0.0             0.0  2018-01-17 2019-09-25  2021-03-25           NaT                 Issued        8611 23RD AVE NE      SEATTLE            WA      98115.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.691597 -122.304418  8611 23RD AVE NE\nSEATTLE, WA 98115\n(47.69159...
115     6732750-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing single-family residence and ...           NaN                  NaN                NaN       1200000.0  2019-07-25 2019-09-25  2021-03-25           NaT                 Issued         2439 NW 61ST ST      SEATTLE            WA      98107.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.672911 -122.389346  2439 NW 61ST ST\nSEATTLE, WA 98107\n(47.672911...
...            ...                   ...               ...              ...            ...                                                ...           ...                  ...                ...             ...         ...        ...         ...           ...                    ...                     ...          ...           ...          ...                   ...                                                ...        ...         ...                                                ...
131093  6500842-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing single family residence, sub...           NaN                  1.0                0.0             NaN  2017-08-25 2017-08-29  2019-02-28           NaT                 Issued      4113 AIKINS AVE SW      SEATTLE            WA      98116.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.567075 -122.406964  4113 AIKINS AVE SW\nSEATTLE, WA 98116\n(47.567...
131338  6616003-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing duplex, Subject to Field Ins...           NaN                  2.0                0.0             NaN  2017-08-30 2017-08-30  2019-02-28           NaT                 Issued  6150 SAND POINT WAY NE      SEATTLE            WA      98115.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.673400 -122.265968  6150 SAND POINT WAY NE\nSEATTLE, WA 98115\n(47...
131431  6617384-DM  Single Family/Duplex       Residential       Demolition     Demolition  ***STFI*** Demolish exisiting structure, per p...           NaN                  1.0                0.0             NaN  2017-09-11 2018-09-04  2020-03-04           NaT                 Issued    126 A W FLORENTIA ST      SEATTLE            WA      98119.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.647261 -122.359414  126 A W FLORENTIA ST\nSEATTLE, WA 98119\n(47.6...
131513  6714213-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish a single-family residence, subject to...           NaN                  NaN                NaN        250000.0  2017-12-07 2018-03-12         NaT           NaT  Application Completed         1226 10TH AVE E      SEATTLE            WA      98102.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.631311 -122.319982  1226 10TH AVE E\nSEATTLE, WA 98102\n(47.631310...
131558  6639487-DM           Multifamily       Residential       Demolition     Demolition  Demolish existing single family residence for ...           NaN                  1.0                0.0             NaN  2018-01-17        NaT         NaT           NaT      Reviews Completed    1027 S CLOVERDALE ST      SEATTLE            WA      98108.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.526285 -122.319066  1027 S CLOVERDALE ST\nSEATTLE, WA 98108\n(47.5...

[1092 rows x 24 columns]

In [253]:
len(demo['AppliedDate'])

4894

In [255]:
demo['IssuedDate'].count()

4355

In [252]:
demo.sort_values('AppliedDate', ascending=False)

         PermitNum           PermitClass PermitClassMapped PermitTypeMapped PermitTypeDesc                                        Description  HousingUnits  HousingUnitsRemoved  HousingUnitsAdded  EstProjectCost AppliedDate IssuedDate ExpiresDate CompletedDate              StatusCurrent    OriginalAddress1 OriginalCity OriginalState  OriginalZip ContractorCompanyName                                               Link   Latitude   Longitude                                          Location1
4115    6748701-DM  Single Family/Duplex       Residential       Demolition     Demolition        Demolish single-family residence, per plan.           NaN                  NaN                NaN             0.0  2019-10-10 2019-10-10  2021-04-10           NaT                     Issued     6027 19TH AVE S      SEATTLE            WA      98108.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.547975 -122.309003  6027 19TH AVE S\nSEATTLE, WA 98108\n(47.547974...
4391    6735693-DM  Single Family/Duplex       Residential       Demolition     Demolition   Demo existing single family residence, per plan.           1.0                  1.0                1.0        300000.0  2019-10-10        NaT         NaT           NaT         Reviews In Process    4325 SW 102ND ST      SEATTLE            WA      98146.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.511857 -122.388189  4325 SW 102ND ST\nSEATTLE, WA 98146\n(47.51185...
4380    6752862-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolition of existing structures, subject to ...           NaN                  NaN                NaN             0.0  2019-10-10        NaT         NaT           NaT         Ready for Issuance     4126 3RD AVE NW      SEATTLE            WA      98107.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.657220 -122.360290  4126 3RD AVE NW\nSEATTLE, WA 98107\n(47.657219...
2432    6691009-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing single family residence, sub...           1.0                  1.0                6.0       1460000.0  2019-10-03        NaT         NaT           NaT         Ready for Issuance     7558 43rd AVE S          NaN           NaN          NaN                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.533587 -122.278639        7558 43rd AVE S\n(47.53358696, -122.278639)
2582    6743717-DM           Multifamily       Residential       Demolition     Demolition             Demolish existing structure, per plans           NaN                  NaN                NaN        350000.0  2019-10-03        NaT         NaT           NaT         Reviews In Process     1917 25TH AVE S      SEATTLE            WA      98144.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.585754 -122.300600  1917 25TH AVE S\nSEATTLE, WA 98144\n(47.585754...
...            ...                   ...               ...              ...            ...                                                ...           ...                  ...                ...             ...         ...        ...         ...           ...                        ...                 ...          ...           ...          ...                   ...                                                ...        ...         ...                                                ...
126431  6344158-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing single family residence, sub...           NaN                  1.0                0.0             NaN         NaT        NaT         NaT           NaT                     Closed     2338 NE 94TH ST      SEATTLE            WA      98115.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.696815 -122.302558  2338 NE 94TH ST\nSEATTLE, WA 98115\n(47.696815...
128429  6570714-DM           Multifamily       Residential       Demolition     Demolition  Demolition of a residential structure(s) at 66...           NaN                  NaN                NaN      39863983.0         NaT        NaT         NaT           NaT                     Closed     6616 8TH AVE NE      SEATTLE            WA      98115.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.677176 -122.319858  6616 8TH AVE NE\nSEATTLE, WA 98115\n(47.677175...
129477  6696417-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing single-family residence/stru...           0.0                  0.0                1.0             0.0         NaT        NaT         NaT           NaT                  Initiated  3215 FUHRMAN AVE E      SEATTLE            WA      98102.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.650175 -122.320408  3215 FUHRMAN AVE E\nSEATTLE, WA 98102\n(47.650...
129505  6618463-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demo Roof and Mail level walls to first floor ...           NaN                  NaN                NaN             NaN         NaT        NaT         NaT           NaT  Additional Info Requested    7539 22ND AVE NW      SEATTLE            WA      98117.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.684335 -122.384608  7539 22ND AVE NW\nSEATTLE, WA 98117\n(47.68433...
130812  6225613-DM  Single Family/Duplex       Residential       Demolition     Demolition  Construct alterations for voluntary seismic re...           NaN                  NaN                NaN             NaN         NaT        NaT         NaT           NaT  Additional Info Requested      2310 S LANE ST      SEATTLE            WA      98144.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.597375 -122.301686  2310 S LANE ST\nSEATTLE, WA 98144\n(47.5973746...

[4894 rows x 24 columns]

In [248]:
demo[demo['OriginalAddress1']=='414 10TH AVE E']

        PermitNum           PermitClass PermitClassMapped PermitTypeMapped PermitTypeDesc                                        Description  HousingUnits  HousingUnitsRemoved  HousingUnitsAdded  EstProjectCost AppliedDate IssuedDate ExpiresDate CompletedDate StatusCurrent OriginalAddress1 OriginalCity OriginalState  OriginalZip ContractorCompanyName                                               Link   Latitude  Longitude                                          Location1
86520  6573305-DM  Single Family/Duplex       Residential       Demolition     Demolition  Demolish existing sinlge family residence, Sub...           NaN                  2.0                0.0             NaN  2016-12-27 2017-04-14  2018-10-14           NaT     Completed   414 10TH AVE E      SEATTLE            WA      98102.0                   NaN  https://cosaccela.seattle.gov/portal/customize...  47.622419 -122.31972  414 10TH AVE E\nSEATTLE, WA 98102\n(47.6224186...

In [116]:
parcels = pd.read_csv('data/Parcel.zip', encoding="Latin1")
parcels = parcels[(parcels.PropType=='R')]
parcels['PIN'] = parcels['Major'].map(str).apply(lambda x: x.zfill(6)) + parcels['Minor'].map(str).apply(lambda x: x.zfill(4))
parcels.set_index('PIN')

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
PIN,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7732500410,773250,410,,SHEFFIELD ON ENGLISH HILL,41,,5,26,24,SE,R,72.0,4.0,NaN,NaN,KING COUNTY,7568,R6,1,1,2,10300,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
0123039371,12303,9371,,NaN,,,3,23,1,NE,R,23.0,5.0,NaN,NaN,KING COUNTY,3850,R6,1,1,2,13600,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
7796450700,779645,700,,SILVERWOOD,70,,4,21,30,SW,R,54.0,21.0,NaN,NaN,FEDERAL WAY,1205,RS9.6,1,1,2,7563,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
4024101551,402410,1551,,LAKE FOREST PARK 3RD ADD,43,31,4,26,9,NW,R,3.0,3.0,NaN,NaN,SHORELINE,2266,R6,1,1,2,11512,2,2,3,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
7683900130,768390,130,,SECOMA TERRACE,13,,4,21,30,NE,R,54.0,21.0,NaN,NaN,FEDERAL WAY,1205,RS9.6,1,1,2,9594,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995200065,199520,65,,DENNYS J W FIFTH AVE ADD,13,1,4,26,32,SW,R,7.0,2.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,5712,2,2,4,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,2,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
6388910070,638891,70,,OLYMPUS DIV NO. 02,7,,5,24,28,SE,R,64.0,5.0,NaN,NaN,NEWCASTLE,1865,R-6,1,1,2,31472,2,2,4,0,1,0,2,0,False,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,Y,Y,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
2887703205,288770,3205,,GREEN LAKE RESERVOIR ADD,5-6,13,4,25,4,NW,R,45.0,4.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,3800,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
2306400060,230640,60,,ELISE ADD,2,2,4,25,18,NE,R,43.0,7.0,NaN,NaN,SEATTLE,10,SF 5000,1,1,2,4920,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,Y,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N
7283900032,728390,32,,RICHMOND HIGHLANDS ADD,3-4,,4,26,6,SW,R,1.0,5.0,NaN,NaN,SHORELINE,2263,R6,1,1,2,8913,2,2,3,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N

In [149]:
parcels['LandfillBuffer'].unique()

array(['N'], dtype=object)

In [115]:
parcels.head()

,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,QuarterSection,PropType,Area,SubArea,SpecArea,SpecSubArea,DistrictName,LevyCode,CurrentZoning,HBUAsIfVacant,HBUAsImproved,PresentUse,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,Unbuildable,MtRainier,Olympics,Cascades,Territorial,SeattleSkyline,PugetSound,LakeWashington,LakeSammamish,SmallLakeRiverCreek,OtherView,WfntLocation,WfntFootage,WfntBank,WfntPoorQuality,WfntRestrictedAccess,WfntAccessRights,WfntProximityInfluence,TidelandShoreland,LotDepthFactor,TrafficNoise,AirportNoise,PowerLines,OtherNuisances,NbrBldgSites,Contamination,DNRLease,AdjacentGolfFairway,AdjacentGreenbelt,HistoricSite,CurrentUseDesignation,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,CoalMineHazard,CriticalDrainage,ErosionHazard,LandfillBuffer,HundredYrFloodPlain,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems,PIN
0,773250,410,,SHEFFIELD ON ENGLISH HILL,41,,5,26,24,SE,R,72.0,4.0,NaN,NaN,KING COUNTY,7568,R6,1,1,2,10300,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,7732500410
1,12303,9371,,NaN,,,3,23,1,NE,R,23.0,5.0,NaN,NaN,KING COUNTY,3850,R6,1,1,2,13600,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,0123039371
2,779645,700,,SILVERWOOD,70,,4,21,30,SW,R,54.0,21.0,NaN,NaN,FEDERAL WAY,1205,RS9.6,1,1,2,7563,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,7796450700
3,402410,1551,,LAKE FOREST PARK 3RD ADD,43,31,4,26,9,NW,R,3.0,3.0,NaN,NaN,SHORELINE,2266,R6,1,1,2,11512,2,2,3,0,1,0,0,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,4024101551
4,768390,130,,SECOMA TERRACE,13,,4,21,30,NE,R,54.0,21.0,NaN,NaN,FEDERAL WAY,1205,RS9.6,1,1,2,9594,2,2,4,0,1,0,2,0,False,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,N,N,0,0,0,0,N,N,0,0,N,N,N,0,0,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,7683900130

In [ ]:
with open('data/EXTR_Parcel.csv') as file:
    for line in file:
        print(line)

In [68]:
tax = pd.read_csv('data/Tax Data.zip')

In [74]:
tax.iloc[0]

AcctNbr           216200018002
ReceivableType               R
BillYr                    1993
OmitYr                       0
LevyCode                  1031
ApprLandVal                  0
ApprImpsVal                  0
NewDollar                    0
LandVal                  58800
ImpsVal                 337000
TaxValReason
TaxStat                      T
AcctStat                     A
Name: 0, dtype: object

In [75]:
gis = pd.read_csv('data/Parcels_for_King_County_with_Address_with_Property_Information__parcel_address_area.csv')

/Users/ross/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,7,11,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
gis.columns

Index(['OBJECTID', 'MAJOR', 'MINOR', 'PIN', 'COMMENTS', 'SITETYPE', 'ALIAS1', 'ALIAS2', 'SITEID', 'ADDR_HN', 'ADDR_PD', 'ADDR_PT', 'ADDR_SN', 'ADDR_ST', 'ADDR_SD', 'ADDR_NUM', 'ADDR_FULL', 'FULLNAME', 'ZIP5', 'PLUS4', 'CTYNAME', 'POSTALCTYNAME', 'LAT', 'LON', 'POINT_X', 'POINT_Y', 'COUNTY', 'KROLL', 'KCTP_CITY', 'KCTP_STATE', 'PLSS', 'PROP_NAME', 'PLAT_NAME', 'PLAT_LOT', 'PLAT_BLOCK', 'LOTSQFT', 'LEVYCODE', 'LEVY_JURIS', 'NEW_CONSTR', 'TAXVAL_RSN', 'APPRLNDVAL', 'APPR_IMPR', 'TAX_LNDVAL', 'TAX_IMPR', 'ACCNT_NUM', 'KCTP_TAXYR', 'UNIT_NUM', 'BLDG_NUM', 'CONDOSITUS', 'QTS', 'SEC', 'TWP', 'RNG', 'PRIMARY_ADDR', 'LEGALDESC', 'Shape_Length', 'Shape_Area', 'ANNEXING_CITY', 'PAAUNIQUENAME', 'PROPTYPE', 'KCA_ZONING', 'KCA_ACRES', 'PREUSE_CODE', 'PREUSE_DESC'], dtype='object')

In [79]:
gis[gis.ADDR_FULL=='900 WARREN AVE N']

        OBJECTID   MAJOR MINOR         PIN                                      COMMENTS SITETYPE ALIAS1 ALIAS2    SITEID ADDR_HN ADDR_PD ADDR_PT ADDR_SN ADDR_ST ADDR_SD  ADDR_NUM         ADDR_FULL      FULLNAME     ZIP5 PLUS4  CTYNAME POSTALCTYNAME        LAT         LON       POINT_X        POINT_Y COUNTY KROLL KCTP_CITY KCTP_STATE       PLSS                        PROP_NAME            PLAT_NAME        PLAT_LOT PLAT_BLOCK  LOTSQFT  LEVYCODE LEVY_JURIS NEW_CONSTR TAXVAL_RSN  APPRLNDVAL  APPR_IMPR  TAX_LNDVAL  TAX_IMPR     ACCNT_NUM  KCTP_TAXYR   UNIT_NUM BLDG_NUM          CONDOSITUS QTS   SEC   TWP  RNG  PRIMARY_ADDR LEGALDESC  Shape_Length   Shape_Area ANNEXING_CITY PAAUNIQUENAME PROPTYPE KCA_ZONING  KCA_ACRES  PREUSE_CODE                                        PREUSE_DESC
273650    273651  329940  0000  3299400000  tan/reflective wndw 5 stry apt bldg, gry trm       R2    NaN    NaN  451710.0     900     NaN     NaN  WARREN     AVE       N     900.0  900 WARREN AVE N  WARREN AVE N  98109.0  5605  SEATTLE       SEATTLE  47.627418 -122.353612  1.265562e+06  232565.728563   KING    35   SEATTLE         WA  NW30-25-4  HIGHLAND QUEEN ANNE CONDOMINIUM  HIGHLAND QUEEN ANNE                             17082.0      10.0        NaN          N                70500.0   260500.0     70500.0  260500.0  3.299400e+11      2019.0  200              1  900  WARREN AVE N   NW  30.0  25.0  4.0             1       NaN    527.778446  17094.91199           NaN           NaN        K        LR3   0.392149         20.0  Condominium(Residential)                      ...

In [146]:
a = b = np.array([1,2,3])

In [147]:
a = a+1
a

array([2, 3, 4])

In [148]:
b

array([1, 2, 3])

In [150]:
lookup = pd.read_csv('data/Lookup.zip')

In [160]:
lookup.head()

   LUType  LUItem                                      LUDescription
0       1       1  LAND ONLY                                     ...
1       1      10  Land with new building                        ...
2       1      11  Household, single family units                ...
3       1      12  Multiple family residence (Residential, 2-4 un...
4       1      13  Multiple family residence (Residential, 5+ uni...

In [228]:
lookup[['LUItem','LUDescription']][lookup['LUType']==6].sort_values('LUItem')

      LUItem                                      LUDescription
984        1  None                                          ...
991        2  Warranty Deed                                 ...
1001       3  Statutory Warranty Deed                       ...
1002       4  Special Warranty Deed                         ...
1003       5  Corporate Warranty Deed                       ...
1004       6  Assumption Warranty Deed                      ...
1005       7  Grant Deed                                    ...
1006       8  Contract (equity)                             ...
1007       9  Contract (installment)                        ...
985       10  Real Estate Contract                          ...
986       11  Purchaser's Assignment                        ...
987       13  Seller's Assignment                           ...
988       15  Quit Claim Deed                               ...
989       18  Trustees' Deed                                ...
990       19  Executor's Deed                               ...
992       20  Fiduciary Deed                                ...
993       21  Sheriff's Deed                                ...
994       22  Bargain and Sales Deed                        ...
995       23  Receivers Deed                                ...
996       24  Deed of Personal Rep                          ...
997       25  Judgment Per Stipulation                      ...
998       26  Other - See Affidavit                         ...
999       27  DEED                                          ...
1000      28  Forfeiture Real Estate Contract               ...

In [164]:
updates = pd.read_csv('data/Change History Detail.zip', encoding='latin_1')

In [166]:
updates.head()

    Major  Minor   EventId            Id    Attribute                        AttributeValue            UpdateDate UpdatedBy
0  525330    400   4239471          Land  BaseLandVal                                 65000  May 24 1999 10:42AM       MHAR
1  812630    180  14439049  RealPropAcct    UpdatedBy  7573A164-E1F9-4D76-95A4-8B913697A6C4  Apr  5 2018  9:55PM       MTRI
2  179638    290  14472049  RealPropAcct    UpdatedBy  7573A164-E1F9-4D76-95A4-8B913697A6C4  Apr 12 2018  9:51PM       MTRI
3  378240    130  13805884  RealPropAcct   UpdateDate                   Aug 14 2017  8:31AM  Aug 17 2017  6:06PM       MTRI
4  294600   3225  13055943  RealPropAcct   UpdateDate                   Nov 14 2016  8:31AM  Dec  8 2016  8:22PM       MTRI

In [168]:
oldblock = updates[updates['Major']==685270]

In [192]:
obp = np.sort(oldblock['Minor'].unique())

In [193]:
obp

array([  5,  10,  15,  20,  30,  35,  36,  40,  45,  50,  55,  65,  66,
        70,  75,  76,  80,  85,  86,  90,  91,  95,  96,  97,  98,  99,
       100, 105, 110, 111, 115, 116, 117, 120, 125, 126, 130, 131, 135,
       150, 155, 156, 157, 158, 159, 160, 161, 165, 170, 171, 175, 176,
       185, 190, 195, 196, 200, 201, 202, 203, 205, 206, 210, 211, 215,
       220, 225, 226, 227, 228, 230, 231, 236, 240, 245, 246, 250, 255,
       256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271,
       272, 273, 274, 279, 280, 281, 282, 283, 284, 285, 286, 287, 294,
       295, 296, 297, 298, 299, 305, 310, 311, 315, 320, 325, 330, 335,
       336, 340, 345, 355, 405, 410, 411, 412, 413, 414, 415, 416, 420,
       421, 425, 428, 429, 430, 431, 432, 433, 434, 435, 440, 445, 446,
       447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459,
       460, 461, 465, 466, 468, 470, 475, 476, 477, 478, 485, 486, 490,
       491, 496, 515, 516, 520, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 535, 536, 545, 546, 547, 549, 550, 551, 552, 553, 554, 555,
       556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568,
       569, 570, 571, 572, 573, 575, 576, 590, 595, 670])

In [194]:
unitb = pd.read_csv('data/Unit Breakdown.zip')

In [195]:
unitb.head()

    Major  Minor  UnitTypeItemId  NbrThisType  SqFt NbrBedrooms  NbrBaths
0   82605   9206               1           29   813           0       1.0
1  722850   2420               1            1     0           5       2.0
2  292605   9021               1           51  1165           3       2.0
3  182604   9228               1           10     0           1       1.0
4  720000    201               1           12   750           1       1.0

In [198]:
unitb[unitb['Major']==685270]['Minor'].unique()

array([165, 455,  55,  20, 260, 285, 296, 150, 345, 405, 256, 206, 595,
       425, 255, 295, 530, 440,  15, 575, 478, 240, 546, 185, 340, 196,
       175, 171,  65, 160, 496, 170, 531, 421, 176,  30])

In [208]:
rps = pd.read_csv('data/Real Property Sales.zip',parse_dates=[3], infer_datetime_format=True)

In [212]:
rps[rps['Major']==685270].sort_values('DocumentDate')

         ExciseTaxNbr   Major Minor DocumentDate  SalePrice    RecordingNbr Volume Page PlatNbr PlatType         PlatLot PlatBlock                                         SellerName                                          BuyerName  PropertyType  PrincipalUse  SaleInstrument AFForestLand AFCurrentUseLand AFNonProfitUse AFHistoricProperty  SaleReason  PropertyClass SaleWarning
191673         681795  685270   210   1980-08-18          0  198207120470      009  052  685270        P  02 PT            21       HALL LOUIS REESE                              ...  HALL ROBERTA ANN                              ...             3             6              15            N                N              N                              9              8          11
730463         663838  685270   236   1982-01-04      88000  198201040060      009  052  685270        P  01-02  PT        22       GRUNDSTEIN LEON                               ...  HAMRICK ROY A                                 ...             0             0              11                                                                           1              8          19
1817500        677387  685270   165   1982-05-27     240000  198205280464      009  052  685270        P  11               19       DEMILE CONNIE WHITE                           ...  BOYD DANIEL N+LAURA J                         ...             3             4               2            N                N              N                              1              2
1521410        677807  685270   160   1982-06-01     145000  198206020413      009  052  685270        P  10               19       SLG ENTERPRISES                               ...  VARNES BJARNE+ROSALIE                         ...             3             0              11            N                N              N                              1              2          19
1735911        746529  685270   120   1983-10-10      69500  198310210600      009  052  685270        P  02 PT            19       GEARHART PHILLIP A+KAREN S                    ...  FARKAS MARLO                                  ...             3             0               2            N                N              N                              1              8          26
...               ...     ...   ...          ...        ...             ...    ...  ...     ...      ...             ...       ...                                                ...                                                ...           ...           ...             ...          ...              ...            ...                ...         ...            ...         ...
1626293       3011944  685270   576   2019-09-02          0  20190925000800                                                         SWANSONIA SEDU-34 LLC                         ...  SWANSONIA LLC                                 ...             1             7              15            N                N              N                  N          18              1    11 18 31
1557198       3010327  685270   468   2019-09-04          0  20190916000575                                                         GRAYSON LISA L+DAVIS THOMAS V                 ...  GRAYSON LISA L                                ...            11             6               3            N                N              N                  N           1              8
1275347       3011637  685270   566   2019-09-19          0  20190924000217                                                         LUBETICH JOHN F JR                            ...  LUBETICH JOHN F JR                            ...            11             6              15            N                N              N                  N           1              8
1968656       3011945  685270   575   2019-09-25   10770200  20190925000801                                                         SWANSONIA LLC                                 ...  BASE SWANSONIA LLC                            ...             3             7               3            N                N              N                  N          18              2          45
1968655       3011945  685270   576   2019-09-25   10770200  20190925000801                                                         SWANSONIA LLC                                 ...  BASE SWANSONIA LLC                            ...             3             7               3            N                N              N                  N          18              2          45

[552 rows x 24 columns]

In [210]:
rps['DocumentDate'][0]

Timestamp('2014-08-21 00:00:00')