In [10]:
import os
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
conn = psycopg2.connect(dbname='seattle_housing', user = 'postgres', host='localhost')

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
value_histories = pd.read_csv('data/value_histories/EXTR_ValueHistory_V.csv', nrows=10000)

In [7]:
value_histories.head(0)

Empty DataFrame
Columns: [Major, Minor, TaxYr, OmitYr, ApprLandVal, ApprImpsVal, ApprImpIncr, LandVal, ImpsVal, TaxValReason, TaxStatus, LevyCode, ChangeDate, ChangeDocId, Reason, SplitCode]
Index: []

In [27]:

value_histories['TaxValReason'].count()

10000

In [17]:
value_histories[value_histories['Reason']=='NEW PLAT']

,Major,Minor,TaxYr,OmitYr,ApprLandVal,ApprImpsVal,ApprImpIncr,LandVal,ImpsVal,TaxValReason,TaxStatus,LevyCode,ChangeDate,ChangeDocId,Reason,SplitCode
54,386510,30,2003,0,0,0,0,0,0,,T,330,2002-05-21 00:00:00,P052117,NEW PLAT,0
452,721265,990,1992,0,0,0,0,0,0,,T,3490,1991-02-14 00:00:00,P021204,NEW PLAT,0
960,211101,890,2003,0,0,0,0,0,0,,T,4750,2002-02-04 00:00:00,P122001,NEW PLAT,0
1587,253750,140,1995,0,0,0,0,0,0,,T,6825,1994-05-18 00:00:00,P051805,NEW PLAT,0
1857,675260,850,1995,0,0,0,0,0,0,,T,5090,1994-03-02 00:00:00,P030110,NEW PLAT,0
1909,189890,40,1998,0,0,0,0,0,0,,T,1205,1997-02-14 00:00:00,P012102,NEW PLAT,0
2001,382760,90,1993,0,0,0,0,0,0,,T,6235,1992-05-19 00:00:00,P051805,NEW PLAT,0
2098,339546,20,1990,0,0,0,0,0,0,,T,851,1989-04-04 00:00:00,P040409,NEW PLAT,0
2176,689140,360,2016,0,0,0,0,0,0,,T,1700,2015-03-03 00:00:00,P030301,NEW PLAT,0
2220,383206,1040,2008,0,0,0,0,0,0,,T,5143,2006-11-07 00:00:00,P091102,NEW PLAT,0
2470,542350,90,1984,0,0,0,0,0,0,,T,3490,1983-02-08 00:00:00,P020108,NEW PLAT,0
2497,719780,170,2002,0,0,0,0,0,0,,T,2176,2001-03-12 00:00:00,P031501,NEW PLAT,0
2598,864821,230,1986,0,0,0,0,0,0,,T,5149,1984-12-24 00:00:00,P122403,NEW PLAT,0
2626,612701,220,2005,0,0,0,0,0,0,,T,2176,2004-02-02 00:00:00,P012709,NEW PLAT,0
2884,809167,30,2010,0,0,0,0,0,0,,T,1813,2009-04-07 00:00:00,P040701,NEW PLAT,0
2935,796778,70,1994,0,0,0,0,0,0,,T,3430,1993-01-29 00:00:00,P010509,NEW PLAT,0
3075,801620,170,1992,0,0,0,0,0,0,,T,5175,1990-10-29 00:00:00,P102917,NEW PLAT,0
3111,260004,160,1984,0,0,0,0,0,0,,T,630,1983-03-09 00:00:00,P030902,NEW PLAT,0
3138,760580,120,1999,0,0,0,0,0,0,,T,330,1998-06-16 00:00:00,P061601,NEW PLAT,0
3194,785218,220,2004,0,0,0,0,0,0,,T,2277,2003-10-28 00:00:00,P012103,NEW PLAT,0
3215,720323,90,2015,0,0,0,0,0,0,,T,7260,2014-01-27 00:00:00,P011601,NEW PLAT,0
3304,721265,1960,1992,0,0,0,0,0,0,,T,3490,1991-02-13 00:00:00,P021204,NEW PLAT,0
3649,327861,1320,2005,0,0,0,0,0,0,,T,10,2004-05-17 00:00:00,P051201,NEW PLAT,0
4009,401705,550,1991,0,0,0,0,0,0,,T,4881,1989-11-17 00:00:00,P111505,NEW PLAT,0
4080,160801,30,2007,0,0,0,0,0,0,,T,1531,2006-05-15 00:00:00,P051501,NEW PLAT,0
4377,608460,220,1986,0,0,0,0,0,0,,T,3494,1985-05-09 00:00:00,P050806,NEW PLAT,0
4652,638890,820,1988,0,0,0,0,0,0,,T,4360,1987-04-06 00:00:00,P040208,NEW PLAT,0
4837,413800,340,2016,0,0,0,0,0,0,,T,120,2014-10-20 00:00:00,P101602,NEW PLAT,0
5233,800147,210,2001,0,0,0,0,0,0,,T,2184,1999-11-03 00:00:00,P110201,NEW PLAT,0
5782,785327,760,2006,0,0,0,0,0,0,,T,2277,2005-04-19 00:00:00,P041801,NEW PLAT,0
5879,957850,960,2014,0,0,0,0,0,0,,T,1205,2012-12-10 00:00:00,P120602,NEW PLAT,0
6581,776040,600,1994,0,0,0,0,0,0,,T,5149,1993-05-13 00:00:00,P051313,NEW PLAT,0
6806,214095,90,2008,0,0,0,0,0,0,,T,910,2007-04-24 00:00:00,P021303,NEW PLAT,0
6995,133400,10,2011,0,0,0,0,0,0,,T,10,2009-11-23 00:00:00,P112004,NEW PLAT,0
7011,330399,330,2003,0,0,0,0,0,0,,T,1872,2002-05-21 00:00:00,P052114,NEW PLAT,0
7210,926445,280,2013,0,0,0,0,0,0,,T,5226,2012-04-11 00:00:00,P041101,NEW PLAT,0
7395,421350,190,1992,0,0,0,0,0,0,,T,1155,1990-10-29 00:00:00,P102908,NEW PLAT,0
7437,363021,290,2007,0,0,0,0,0,0,,T,1405,2006-04-27 00:00:00,P042620,NEW PLAT,0
7520,787960,220,2003,0,0,0,0,0,0,,T,1205,2002-05-13 00:00:00,P051301,NEW PLAT,0
7529,154170,240,2004,0,0,0,0,0,0,,T,1531,2003-07-10 00:00:00,P060404,NEW PLAT,0
7558,670512,20,1987,0,0,0,0,0,0,,T,4365,1986-04-24 00:00:00,P042407,NEW PLAT,0
7999,864420,160,1989,0,0,0,0,0,0,,T,6967,1988-05-04 00:00:00,P050304,NEW PLAT,0
8107,815580,20,1991,0,0,0,0,0,0,,T,7275,1989-11-17 00:00:00,P111508,NEW PLAT,0
8113,868223,270,2004,0,0,0,0,0,0,,T,7260,2002-11-26 00:00:00,P112533,NEW PLAT,0
8205,664869,50,2017,0,0,0,0,0,0,,T,1525,2016-02-08 00:00:00,P012201,NEW PLAT,0
8247,541240,10,1989,0,0,0,0,0,0,,T,5040,1987-11-03 00:00:00,P110309,NEW PLAT,0
8308,505710,20,2015,0,0,0,0,0,0,,T,1564,2014-03-13 00:00:00,P031301,NEW PLAT,0
8596,723750,1540,2003,0,0,0,0,0,0,,T,1872,2002-06-12 00:00:00,P061104,NEW PLAT,0
8767,329290,1100,2017,0,0,0,0,0,0,,T,2177,2016-02-09 00:00:00,P012902,NEW PLAT,0
9197,721266,100,1992,0,0,0,0,0,0,,T,3490,1991-05-20 00:00:00,P051605,NEW PLAT,0
9502,733822,690,2007,0,0,0,0,0,0,,T,140,2006-04-25 00:00:00,P042002,NEW PLAT,0
9553,259182,240,1985,0,0,0,0,0,0,,T,5100,1984-02-03 00:00:00,P013005,NEW PLAT,0
9760,20080,130,1984,0,0,0,0,0,0,,T,7570,1983-06-01 00:00:00,P053101,NEW PLAT,0
9986,553560,740,2002,0,0,0,0,0,0,,T,1155,2001-06-12 00:00:00,P061414,NEW PLAT,0

In [18]:
value_histories[value_histories['Major']==413800].sort_values('TaxYr')

,Major,Minor,TaxYr,OmitYr,ApprLandVal,ApprImpsVal,ApprImpIncr,LandVal,ImpsVal,TaxValReason,TaxStatus,LevyCode,ChangeDate,ChangeDocId,Reason,SplitCode
4837,413800,340,2016,0,0,0,0,0,0,,T,120,2014-10-20 00:00:00,P101602,NEW PLAT,0
4838,413800,340,2016,0,96000,0,96000,96000,0,,T,120,2015-09-08 00:00:00,,REVALUE,0
4839,413800,340,2017,0,96000,0,0,96000,0,,T,120,2016-08-23 00:00:00,,REVALUE,0
4840,413800,340,2018,0,0,0,0,96000,0,,T,133,2017-04-26 00:00:00,,LEVY CODE CHNG,0
4841,413800,340,2018,0,96000,0,0,96000,0,,T,133,2017-05-22 00:00:00,,REVALUE,0
4842,413800,340,2018,0,96000,354000,329000,96000,354000,,T,133,2017-07-19 00:00:00,,MAINTENANCE,0
4843,413800,340,2019,0,115000,437000,0,115000,437000,,T,133,2018-07-02 00:00:00,,REVALUE,0
4844,413800,340,2020,0,115000,449000,0,115000,449000,,T,133,2019-07-29 00:00:00,,REVALUE,0

In [12]:
value_histories['Reason'].unique()

array(['REVALUE', 'MAINTENANCE', 'EXTENSION', 'LEVY CODE CHNG',
       'NEW PLAT', 'SEGREGATION', 'JULY BOARD ORDER', 'CORRECTION BOARD',
       'STATE BOARD ORDER', 'LEGAL CHANGE', 'OMITTED ASSMT',
       'S.C. FROZEN VALUE', 'SR CIT CHANGE', 'MERGER',
       'HOME IMP EXEMPTION', 'TAX STATUS CHNG', 'AMENDMENT',
       'BOARD EXTENSION', 'MOBILE HOME X-FER', 'MAINT', 'NOV BOARD ORDER',
       'DESTROYED PROPERTY', 'CORRECTION', 'OPEN SPACE',
       'JUNE BOARD ORDER', 'KILL BY MERGE', 'HOME IMP EXPIRED'],
      dtype=object)

In [6]:
alchemyEngine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/seattle_housing', pool_recycle=3600);

postgreSQLConnection = alchemyEngine.connect();

postgreSQLTable = "value_histories";

 

try:

    frame = value_histories.to_sql(postgreSQLTable, postgreSQLConnection, if_exists='fail', index=False);

except ValueError as vx:

    print(vx)

except Exception as ex:  

    print(ex)

else:

    print("PostgreSQL Table {postgreSQLTable} has been created successfully.");

finally:

    postgreSQLConnection.close();

PostgreSQL Table {postgreSQLTable} has been created successfully.

In [28]:
for filename in os.listdir('/Users/ross/Galvanize/Seattle-Real-Estate-Analysis/data/csv_to_sql'):
    filename = filename.split('.')[0]
    if filename[:5]=='EXTR_':
        filename = filename[5:]
    print(filename)

TaxAcctReceivable_V
Parcels_for_King_County_with_Address_with_Property_Information__parcel_address_area
ValueHistory_V
Building_Permits
Parcel
ChangeHistDetail_V
zip_files
Capacity_For_All_Parcels_2015
Land_Use_Permits
UnitBreakdown
ResBldg

In [30]:
a = 5
print(f"Tommy is {b}",b=6)

NameError: name 'b' is not defined