In [1]:
from src.helpers import *
import pandas as pd
%autoreload 2

In [20]:
gis = get_gis_data()

In [21]:
gis.head()

,MAJOR,MINOR,ADDR_FULL,LAT,LON,KCTP_STATE,LOTSQFT,APPRLNDVAL,APPR_IMPR,TAX_LNDVAL,...,PREUSE_DESC_Single Family(Res Use/Zone),PREUSE_DESC_Townhouse Plat,PREUSE_DESC_Transferable Dev Rights,PREUSE_DESC_Triplex,"PREUSE_DESC_Utility, Public",PREUSE_DESC_Vacant(Commercial),PREUSE_DESC_Vacant(Industrial),PREUSE_DESC_Vacant(Multi-family),PREUSE_DESC_Vacant(Single-family),PREUSE_DESC_nan
PIN,,,,,,,,,,,,,,,,,,,,,
0001800001,180,0001,1742 S COLUMBIAN WAY,47.561070,-122.308502,WA,7820.0,250000.0,637000.0,140000.0,...,1,0,0,0,0,0,0,0,0,0
0001800002,180,0002,1727 S SNOQUALMIE ST,47.561432,-122.308935,WA,5060.0,218000.0,349000.0,218000.0,...,1,0,0,0,0,0,0,0,0,0
0001800004,180,0004,1716 S ANGELINE ST,47.560666,-122.309648,WA,5225.0,168000.0,291000.0,168000.0,...,1,0,0,0,0,0,0,0,0,0
0001800006,180,0006,1568 S ANGELINE ST,47.560745,-122.310471,WA,18203.0,374000.0,268000.0,374000.0,...,1,0,0,0,0,0,0,0,0,0
0001800008,180,0008,1526 S ANGELINE ST,47.560762,-122.312170,WA,11970.0,260000.0,358000.0,260000.0,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
c = gis.columns

In [ ]:
gis.shape

In [ ]:
gis['MAJOR'].isnull().sum()

In [ ]:
for col in c:
    print(col, gis[col].isnull().sum(), gis[col].dtype)

In [ ]:
gis[gis['SITETYPE'].isnull()]['PREUSE_DESC'].value_counts()

In [ ]:
gis['MAJOR'].describe()

In [2]:
parcels = get_parcels()

In [ ]:
parcels.head()

In [ ]:
parcels.shape

In [ ]:
c = parcels.columns

In [ ]:
for col in c:
    print(col, parcels[col].dtype , parcels[col].isnull().sum())

In [17]:
parcels['Contamination'].value_counts()

0     161511
46        10
Name: Contamination, dtype: int64

In [ ]:
c

In [ ]:
d = ['Major', 'Minor','Range', 'Township', 'Section', 'QuarterSection', 'Area',
       'SubArea','DistrictName', 'LevyCode',
       'CurrentZoning', 'PresentUse',
       'SqFtLot', 'WaterSystem', 'SewerSystem', 'Access', 'Topography',
       'StreetSurface', 'InadequateParking',
       'PcntUnusable', 'Unbuildable', 'MtRainier', 'Olympics', 'Cascades',
       'Territorial', 'SeattleSkyline', 'PugetSound', 'LakeWashington',
       'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView', 'WfntLocation',
       'WfntFootage', 'WfntBank', 'WfntPoorQuality', 'WfntRestrictedAccess',
       'WfntAccessRights', 'WfntProximityInfluence', 'TidelandShoreland',
       'LotDepthFactor', 'TrafficNoise', 'AirportNoise', 'PowerLines',
       'OtherNuisances', 'NbrBldgSites', 'Contamination',
       'AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems',
       'OtherProblems']

In [ ]:
2/2.75

In [ ]:
['AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency',
       'OtherProblems']

In [ ]:
x = []
for col in c:
    if col not in d:
        x.append(col)

In [ ]:
x

In [38]:
# $example on$
from pyspark.ml.feature import OneHotEncoderEstimator, VectorAssembler
# $example off$
from pyspark.sql import SparkSession


spark = SparkSession\
    .builder\
    .appName("OneHotEncoderExample")\
    .getOrCreate()

# Note: categorical features are usually first encoded with StringIndexer
# $example on$
df = spark.read()
df = spark.createDataFrame([
    (0, 1),
    (1, 0),
    (2, 1),
    (0, 4),
    (6, 1),
    (1, 0)
], ["categoryIndex1", "categoryIndex2"])

encoder = OneHotEncoderEstimator(inputCols=["categoryIndex1", "categoryIndex2"],
                        outputCols=["categoryVec1", "categoryVec2"])
model = encoder.fit(df)
encoded = model.transform(df)
encoded.show()
# $example off$

# spark.stop()

+--------------+--------------+-------------+-------------+
|categoryIndex1|categoryIndex2| categoryVec1| categoryVec2|
+--------------+--------------+-------------+-------------+
|             0|             1|(6,[0],[1.0])|(4,[1],[1.0])|
|             1|             0|(6,[1],[1.0])|(4,[0],[1.0])|
|             2|             1|(6,[2],[1.0])|(4,[1],[1.0])|
|             0|             4|(6,[0],[1.0])|    (4,[],[])|
|             6|             1|    (6,[],[])|(4,[1],[1.0])|
|             1|             0|(6,[1],[1.0])|(4,[0],[1.0])|
+--------------+--------------+-------------+-------------+

In [39]:
va = VectorAssembler(inputCols = ["categoryVec1", "categoryVec2"], outputCol = 'Test')
test = va.transform(encoded)
test["categoryVec1", "categoryVec2",'Test'].show()

+-------------+-------------+--------------------+
| categoryVec1| categoryVec2|                Test|
+-------------+-------------+--------------------+
|(6,[0],[1.0])|(4,[1],[1.0])|(10,[0,7],[1.0,1.0])|
|(6,[1],[1.0])|(4,[0],[1.0])|(10,[1,6],[1.0,1.0])|
|(6,[2],[1.0])|(4,[1],[1.0])|(10,[2,7],[1.0,1.0])|
|(6,[0],[1.0])|    (4,[],[])|      (10,[0],[1.0])|
|    (6,[],[])|(4,[1],[1.0])|      (10,[7],[1.0])|
|(6,[1],[1.0])|(4,[0],[1.0])|(10,[1,6],[1.0,1.0])|
+-------------+-------------+--------------------+

In [41]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 19.0.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 0.25.1
numpy            : 1.17.2
pytz             : 2019.3
dateutil         : 2.8.0
pip              : 19.3.1
setuptools       : 41.4.0
Cython           : 0.29.13
pytest           : 5.2.1
hypothesis       : None
sphinx           : 2.2.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.2
lxml.etree       : 4.4.1
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.10.3
IPython          : 7.8.0
pandas_datareader: None
bs4              : 4.8.1
bottleneck       : 1.2.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.4.1
matplotlib       : 3.1.1
numexpr          : 2.7.0
odfpy            : None
openpyxl         : 3.0.0
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.3.1
sqlalchemy       : 1.3.10
tables           : 3.5.2
xarray           : 0.14.0
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.2

In [18]:
demo = get_pending_demo_permits()

In [170]:
demo.loc[60]

OriginalAddress1    910 W EMERSON ST
OriginalCity                 SEATTLE
OriginalState                     WA
OriginalZip                    98119
Latitude                     47.6525
Longitude                   -122.369
Name: 60, dtype: object

In [172]:
gis.loc['7443001380']

MAJOR                                                                       744300
MINOR                                                                         1380
ADDR_FULL                                                         920 W EMERSON ST
LAT                                                                        47.6528
LON                                                                        -122.37
                                                                        ...
PREUSE_DESC_Vacant(Commercial)                                                   0
PREUSE_DESC_Vacant(Industrial)                                                   0
PREUSE_DESC_Vacant(Multi-family)                                                 0
PREUSE_DESC_Vacant(Single-family)                                                0
PREUSE_DESC_nan                                                                  0
Name: 7443001380, Length: 220, dtype: object

In [163]:
matches = []
non_matches = []
add_set = set(gis['ADDR_FULL'].apply(lambda x: x.lower()))
for address in demo['OriginalAddress1']:
    if address.lower() not in add_set:
        non_matches.append(address)
    else:
        matches.append(address)

In [165]:
matches2 = []
non_matches2 = []
add_set2 = set(gis2['ADDR_FULL'].map(str).apply(lambda x: x.lower()))
for address in non_matches:
    if address.lower() not in add_set2:
        non_matches2.append(address)
    else:
        matches2.append(address)

In [166]:
len(matches), len(non_matches), len(matches2), len(non_matches2)

(754, 335, 157, 178)

In [167]:
non_matches2[:20]

['910 W EMERSON ST',
 '3042 EAST LAURELHURST DR NE',
 '6901 M L KING JR WAY S',
 '820 JOHN ST',
 '2239 MINOR AVE E',
 '4719 32ND AVE S',
 '5023 SAND POINT PL NE',
 '2709 S FERDINAND ST',
 '9040 18TH AVE SW',
 '8617 23RD AVE NE',
 '1115 Dexter AVE N',
 '5201 Rainier AVE S',
 '1116 BROADWAY E',
 '2346 W PLYMOUTH ST',
 '3011 30TH AVE W',
 '1712 NW 89TH ST',
 '9502 INTERLAKE AVE N',
 '811 NE 67TH ST',
 '9047 DIBBLE AVE NW',
 '4149 25TH AVE SW']

In [129]:
non_matches2[5]

'4719 32ND AVE S'

In [78]:
type(add_set2)

set

In [41]:
gis2 = pd.read_csv('data/Parcels_for_King_County_with_Address_with_Property_Information__parcel_address_area.csv', index_col='PIN', low_memory=False)

In [110]:
gis2[gis2['ADDR_FULL']=='1632 15TH AVE']["PROPTYPE"]

PIN
7234600290    C
Name: PROPTYPE, dtype: object

In [44]:
gis3 = gis_data_to_spark()

IllegalArgumentException: 'requirement failed: Column SITETYPE must be of type numeric but was actually of type string.'

In [42]:
gis3.show()

+----------+-----+-----+--------+--------------------+------------------+-------------------+----------+-------+--------+----------+----------+----------+---------+----------+--------+---+----+----+---+------------------+------------------+--------+----------+----------+--------------------+
|       PIN|MAJOR|MINOR|SITETYPE|           ADDR_FULL|               LAT|                LON|KCTP_STATE|LOTSQFT|LEVYCODE|NEW_CONSTR|TAXVAL_RSN|APPRLNDVAL|APPR_IMPR|TAX_LNDVAL|TAX_IMPR|QTS| SEC| TWP|RNG|      Shape_Length|        Shape_Area|PROPTYPE|KCA_ZONING| KCA_ACRES|         PREUSE_DESC|
+----------+-----+-----+--------+--------------------+------------------+-------------------+----------+-------+--------+----------+----------+----------+---------+----------+--------+---+----+----+---+------------------+------------------+--------+----------+----------+--------------------+
|0001800001|  180| 0001|      R1|1742 S COLUMBIAN WAY|          47.56107|        -122.308502|        WA| 7820.0|    10.0|         N|        FS|  250000.0| 637000.0|  140000.0|274000.0| NW|21.0|24.0|4.0|372.77198272606796| 7792.441294305791|       R|   SF 7200|0.17952249|Single Family(Res...|
|0001800002|  180| 0002|      R1|1727 S SNOQUALMIE ST|         47.561432|        -122.308935|        WA| 5060.0|    10.0|         N|          |  218000.0| 349000.0|  218000.0|349000.0| SW|16.0|24.0|4.0|  293.206622069235| 5023.352243260921|       R|   SF 7200|0.11616161|Single Family(Res...|
|0001800004|  180| 0004|      R1|  1716 S ANGELINE ST|         47.560666|        -122.309648|        WA| 5225.0|    10.0|         N|          |  168000.0| 291000.0|  168000.0|291000.0| NW|21.0|24.0|4.0|   299.13929609303|  5182.91414259998|       R|   SF 7200|0.11994949|Single Family(Res...|
|0001800006|  180| 0006|      R1|  1568 S ANGELINE ST|47.560745000000004|-122.31047099999999|        WA|18203.0|    10.0|         N|          |  374000.0| 268000.0|  374000.0|268000.0| NW|21.0|24.0|4.0|   588.70947897491|  18343.2602512983|       R|   SF 7200|0.41788337|Single Family(Res...|
|0001800008|  180| 0008|      R1|  1526 S ANGELINE ST|         47.560762|         -122.31217|        WA|11970.0|    10.0|         N|          |  260000.0| 358000.0|  260000.0|358000.0| NW|21.0|24.0|4.0|  420.688076841425|  10958.1799395042|       R|   SF 7200|0.27479338|Single Family(Res...|
|0001800009|  180| 0009|      R1|1517 S SNOQUALMIE ST|         47.561518|        -122.312651|        WA| 9295.0|    10.0|         N|          |  239000.0| 324000.0|  239000.0|324000.0| SW|16.0|24.0|4.0|  444.866546468402|  9158.48794316101|       R|   SF 7200|0.21338383|Single Family(Res...|
|0001800010|  180| 0010|      R1|1525 S SNOQUALMIE ST|         47.561521|-122.31243300000001|        WA| 9295.0|    10.0|         N|          |  239000.0| 518000.0|  239000.0|518000.0| SW|16.0|24.0|4.0|  445.709922416791| 9196.770588246009|       R|   SF 7200|0.21338383|Single Family(Res...|
|0001800011|  180| 0011|      R1|1509 S SNOQUALMIE ST|47.561516999999995|-122.31288899999998|        WA| 9260.0|    10.0|         N|          |  239000.0| 425000.0|  239000.0|425000.0| SE|17.0|24.0|4.0|445.50600917802103|  9178.52117299211|       R|   SF 7200|0.21258034|Single Family(Res...|
|0001800045|  180| 0045|      R1|     4614 15TH AVE S|         47.561221|         -122.31315|        WA| 5014.0|    10.0|         N|          |  168000.0| 247000.0|  168000.0|247000.0| SE|17.0|24.0|4.0|   287.79201370555|  5005.98544242012|       R|   SF 5000| 0.1151056|Single Family(Res...|
|0001800050|  180| 0050|      R1|1501 S SNOQUALMIE ST|         47.561503|-122.31316000000001|        WA| 5048.0|    10.0|         N|          |  168000.0| 381000.0|  168000.0|381000.0| SE|17.0|24.0|4.0|  289.276815560471|  5065.98399054305|       R|   SF 5000|0.11588613|Single Family(Res...|
|0001800066|  180| 0066|      R1|      818 S ORCAS ST|47.550321000000004|-122.32206299999999|        WA| 6000.0|    10.0|         N|          |  360000.0| 159000.0|  360000.0|159000.0| SE|20.0|24.0|4.0|  319.635336377775|  5989.06513729908|       R|       LR2|0.13774104|Single Family(Res...|
|0001800073|  180| 0073|      R1|     824A S ORCAS ST|         47.550242|-122.32191100000001|        WA| 1171.0|    10.0|         N|          |  117000.0| 465000.0|  117000.0|465000.0| SE|20.0|24.0|4.0|  146.785952226036|  1168.51210039578|       R|       LR2|0.02688246|Townhouse Plat   ...|
|0001800074|  180| 0074|      R1|     824B S ORCAS ST|         47.550166|        -122.321845|        WA|  951.0|    10.0|         N|          |  117000.0| 570000.0|  117000.0|570000.0| SE|20.0|24.0|4.0|  125.103167182353|  949.283713537101|       R|       LR2|0.02183195|Townhouse Plat   ...|
|0001800075|  180| 0075|      R1|1539 S SNOQUALMIE ST|         47.561491|        -122.311571|        WA| 7200.0|    10.0|         N|          |  204000.0| 557000.0|  204000.0|557000.0| SW|16.0|24.0|4.0|  340.057153304133|  7200.29208579578|       R|   SF 7200|0.16528925|Single Family(Res...|
|0001800076|  180| 0076|      R1|     824C S ORCAS ST|          47.55022|        -122.321785|        WA|  886.0|    10.0|         N|          |   53000.0|   9800.0|   53000.0|  9800.0| SE|20.0|24.0|4.0|  121.608555191842|  885.240681844614|       R|       LR2|0.02033976|Townhouse Plat   ...|
|0001800080|  180| 0080|      R1|1711 S SNOQUALMIE ST|         47.561452|-122.30958100000001|        WA| 5662.0|    10.0|         N|          |  209000.0| 356000.0|  209000.0|356000.0| SW|16.0|24.0|4.0|  394.283598044628| 6397.648332091961|       R|   SF 7200|0.12998163|Single Family(Res...|
|0001800081|  180| 0081|      R1|1749 S COLUMBIAN WAY|         47.560831|-122.30920800000001|        WA|16406.0|    10.0|         N|          |  324000.0| 464000.0|  324000.0|464000.0| NW|21.0|24.0|4.0| 552.2788742429731|16873.604453134198|       R|   SF 7200|0.37662993|Single Family(Res...|
|0001800083|  180| 0083|      R1|1754 S COLUMBIAN WAY|         47.560952|-122.30805500000001|        WA| 7750.0|    10.0|         N|          |  250000.0| 375000.0|  250000.0|375000.0| NW|21.0|24.0|4.0|  421.407142857469| 7259.686157799019|       R|   SF 7200|0.17791551|Single Family(Res...|
|0001800084|  180| 0084|      R1|     826A S ORCAS ST|         47.550344|-122.32181000000001|        WA| 1165.0|    10.0|         N|          |  117000.0| 389000.0|  117000.0|389000.0| SE|20.0|24.0|4.0|  146.302445569212|  1162.86683576406|       R|       LR2|0.02674471|Townhouse Plat   ...|
|0001800085|  180| 0085|      R1|     826B S ORCAS ST|         47.550314|-122.32174499999999|        WA|  788.0|    10.0|         N|          |   47000.0|   9800.0|   47000.0|  9800.0| SE|20.0|24.0|4.0|  131.230908756275|  787.419965731048|       R|       LR2|0.01808999|Townhouse Plat   ...|
+----------+-----+-----+--------+--------------------+------------------+-------------------+----------+-------+--------+----------+----------+----------+---------+----------+--------+---+----+----+---+------------------+------------------+--------+----------+----------+--------------------+
only showing top 20 rows

In [43]:
gis3.printSchema()

root
 |-- PIN: string (nullable = true)
 |-- MAJOR: long (nullable = true)
 |-- MINOR: string (nullable = true)
 |-- SITETYPE: string (nullable = true)
 |-- ADDR_FULL: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)
 |-- KCTP_STATE: string (nullable = true)
 |-- LOTSQFT: double (nullable = true)
 |-- LEVYCODE: double (nullable = true)
 |-- NEW_CONSTR: string (nullable = true)
 |-- TAXVAL_RSN: string (nullable = true)
 |-- APPRLNDVAL: double (nullable = true)
 |-- APPR_IMPR: double (nullable = true)
 |-- TAX_LNDVAL: double (nullable = true)
 |-- TAX_IMPR: double (nullable = true)
 |-- QTS: string (nullable = true)
 |-- SEC: double (nullable = true)
 |-- TWP: double (nullable = true)
 |-- RNG: double (nullable = true)
 |-- Shape_Length: double (nullable = true)
 |-- Shape_Area: double (nullable = true)
 |-- PROPTYPE: string (nullable = true)
 |-- KCA_ZONING: string (nullable = true)
 |-- KCA_ACRES: double (nullable = true)
 |-- PREUSE_DESC: string (nullable = true)