In [6]:
from src.helpers import *
import pandas as pd
%autoreload 2

In [38]:
gis = get_gis_data()

In [39]:
gis.head()

,PIN,MAJOR,MINOR,SITETYPE,ADDR_FULL,LAT,LON,KCTP_STATE,LOTSQFT,LEVYCODE,...,SEC,TWP,RNG,Shape_Length,Shape_Area,PROPTYPE,KCA_ZONING,KCA_ACRES,PREUSE_DESC,TARGET
220,0001800001,180,0001,R1,1742 S COLUMBIAN WAY,47.561070,-122.308502,WA,7820.0,10.0,...,21.0,24.0,4.0,372.771983,7792.441294,R,SF 7200,0.179522,Single Family(Res Use/Zone) ...,0
221,0001800002,180,0002,R1,1727 S SNOQUALMIE ST,47.561432,-122.308935,WA,5060.0,10.0,...,16.0,24.0,4.0,293.206622,5023.352243,R,SF 7200,0.116162,Single Family(Res Use/Zone) ...,0
222,0001800004,180,0004,R1,1716 S ANGELINE ST,47.560666,-122.309648,WA,5225.0,10.0,...,21.0,24.0,4.0,299.139296,5182.914143,R,SF 7200,0.119949,Single Family(Res Use/Zone) ...,0
223,0001800006,180,0006,R1,1568 S ANGELINE ST,47.560745,-122.310471,WA,18203.0,10.0,...,21.0,24.0,4.0,588.709479,18343.260251,R,SF 7200,0.417883,Single Family(Res Use/Zone) ...,0
224,0001800008,180,0008,R1,1526 S ANGELINE ST,47.560762,-122.312170,WA,11970.0,10.0,...,21.0,24.0,4.0,420.688077,10958.179940,R,SF 7200,0.274793,Single Family(Res Use/Zone) ...,0

In [ ]:
c = gis.columns

In [ ]:
gis.shape

In [ ]:
gis['MAJOR'].isnull().sum()

In [ ]:
for col in c:
    print(col, gis[col].isnull().sum(), gis[col].dtype)

In [ ]:
gis[gis['SITETYPE'].isnull()]['PREUSE_DESC'].value_counts()

In [ ]:
gis['MAJOR'].describe()

In [2]:
parcels = get_parcels()

In [ ]:
parcels.head()

In [ ]:
parcels.shape

In [ ]:
c = parcels.columns

In [ ]:
for col in c:
    print(col, parcels[col].dtype , parcels[col].isnull().sum())

In [17]:
parcels['Contamination'].value_counts()

0     161511
46        10
Name: Contamination, dtype: int64

In [ ]:
c

In [ ]:
d = ['Major', 'Minor','Range', 'Township', 'Section', 'QuarterSection', 'Area',
       'SubArea','DistrictName', 'LevyCode',
       'CurrentZoning', 'PresentUse',
       'SqFtLot', 'WaterSystem', 'SewerSystem', 'Access', 'Topography',
       'StreetSurface', 'InadequateParking',
       'PcntUnusable', 'Unbuildable', 'MtRainier', 'Olympics', 'Cascades',
       'Territorial', 'SeattleSkyline', 'PugetSound', 'LakeWashington',
       'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView', 'WfntLocation',
       'WfntFootage', 'WfntBank', 'WfntPoorQuality', 'WfntRestrictedAccess',
       'WfntAccessRights', 'WfntProximityInfluence', 'TidelandShoreland',
       'LotDepthFactor', 'TrafficNoise', 'AirportNoise', 'PowerLines',
       'OtherNuisances', 'NbrBldgSites', 'Contamination',
       'AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems',
       'OtherProblems']

In [ ]:
2/2.75

In [ ]:
['AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency',
       'OtherProblems']

In [ ]:
x = []
for col in c:
    if col not in d:
        x.append(col)

In [ ]:
x

In [11]:
# $example on$
from pyspark.ml.feature import OneHotEncoderEstimator, VectorAssembler
# $example off$
from pyspark.sql import SparkSession


spark = SparkSession\
    .builder\
    .appName("OneHotEncoderExample")\
    .getOrCreate()

# Note: categorical features are usually first encoded with StringIndexer
# $example on$
df = spark.read()
df = spark.createDataFrame([
    (0, 1),
    (1, 0),
    (2, 1),
    (0, 4),
    (6, 1),
    (1, 0)
], ["categoryIndex1", "categoryIndex2"])

encoder = OneHotEncoderEstimator(inputCols=["categoryIndex1", "categoryIndex2"],
                        outputCols=["categoryVec1", "categoryVec2"])
model = encoder.fit(df)
encoded = model.transform(df)
encoded.show()
# $example off$

# spark.stop()

Exception: Java gateway process exited before sending its port number

In [39]:
va = VectorAssembler(inputCols = ["categoryVec1", "categoryVec2"], outputCol = 'Test')
test = va.transform(encoded)
test["categoryVec1", "categoryVec2",'Test'].show()

+-------------+-------------+--------------------+
| categoryVec1| categoryVec2|                Test|
+-------------+-------------+--------------------+
|(6,[0],[1.0])|(4,[1],[1.0])|(10,[0,7],[1.0,1.0])|
|(6,[1],[1.0])|(4,[0],[1.0])|(10,[1,6],[1.0,1.0])|
|(6,[2],[1.0])|(4,[1],[1.0])|(10,[2,7],[1.0,1.0])|
|(6,[0],[1.0])|    (4,[],[])|      (10,[0],[1.0])|
|    (6,[],[])|(4,[1],[1.0])|      (10,[7],[1.0])|
|(6,[1],[1.0])|(4,[0],[1.0])|(10,[1,6],[1.0,1.0])|
+-------------+-------------+--------------------+

In [41]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 19.0.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 0.25.1
numpy            : 1.17.2
pytz             : 2019.3
dateutil         : 2.8.0
pip              : 19.3.1
setuptools       : 41.4.0
Cython           : 0.29.13
pytest           : 5.2.1
hypothesis       : None
sphinx           : 2.2.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.2
lxml.etree       : 4.4.1
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.10.3
IPython          : 7.8.0
pandas_datareader: None
bs4              : 4.8.1
bottleneck       : 1.2.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.4.1
matplotlib       : 3.1.1
numexpr          : 2.7.0
odfpy            : None
openpyxl         : 3.0.0
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.3.1
sqlalchemy       : 1.3.10
tables           : 3.5.2
xarray           : 0.14.0
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.2

In [18]:
demo = get_pending_demo_permits()

In [170]:
demo.loc[60]

OriginalAddress1    910 W EMERSON ST
OriginalCity                 SEATTLE
OriginalState                     WA
OriginalZip                    98119
Latitude                     47.6525
Longitude                   -122.369
Name: 60, dtype: object

In [172]:
gis.loc['7443001380']

MAJOR                                                                       744300
MINOR                                                                         1380
ADDR_FULL                                                         920 W EMERSON ST
LAT                                                                        47.6528
LON                                                                        -122.37
                                                                        ...
PREUSE_DESC_Vacant(Commercial)                                                   0
PREUSE_DESC_Vacant(Industrial)                                                   0
PREUSE_DESC_Vacant(Multi-family)                                                 0
PREUSE_DESC_Vacant(Single-family)                                                0
PREUSE_DESC_nan                                                                  0
Name: 7443001380, Length: 220, dtype: object

In [163]:
matches = []
non_matches = []
add_set = set(gis['ADDR_FULL'].apply(lambda x: x.lower()))
for address in demo['OriginalAddress1']:
    if address.lower() not in add_set:
        non_matches.append(address)
    else:
        matches.append(address)

In [165]:
matches2 = []
non_matches2 = []
add_set2 = set(gis2['ADDR_FULL'].map(str).apply(lambda x: x.lower()))
for address in non_matches:
    if address.lower() not in add_set2:
        non_matches2.append(address)
    else:
        matches2.append(address)

In [166]:
len(matches), len(non_matches), len(matches2), len(non_matches2)

(754, 335, 157, 178)

In [167]:
non_matches2[:20]

['910 W EMERSON ST',
 '3042 EAST LAURELHURST DR NE',
 '6901 M L KING JR WAY S',
 '820 JOHN ST',
 '2239 MINOR AVE E',
 '4719 32ND AVE S',
 '5023 SAND POINT PL NE',
 '2709 S FERDINAND ST',
 '9040 18TH AVE SW',
 '8617 23RD AVE NE',
 '1115 Dexter AVE N',
 '5201 Rainier AVE S',
 '1116 BROADWAY E',
 '2346 W PLYMOUTH ST',
 '3011 30TH AVE W',
 '1712 NW 89TH ST',
 '9502 INTERLAKE AVE N',
 '811 NE 67TH ST',
 '9047 DIBBLE AVE NW',
 '4149 25TH AVE SW']

In [129]:
non_matches2[5]

'4719 32ND AVE S'

In [78]:
type(add_set2)

set

In [21]:
gis2 = pd.read_csv('data/Parcels_for_King_County_with_Address_with_Property_Information__parcel_address_area.csv', index_col='PIN', low_memory=False)

In [110]:
gis2[gis2['ADDR_FULL']=='1632 15TH AVE']["PROPTYPE"]

PIN
7234600290    C
Name: PROPTYPE, dtype: object

In [13]:
gis3.show()

+----------+-----+-----+--------------------+--------------------+--------------------+
|       PIN|MAJOR|MINOR|           ADDR_FULL|    num_features_std|            features|
+----------+-----+-----+--------------------+--------------------+--------------------+
|0001800001|  180| 0001|1742 S COLUMBIAN WAY|[1226.09242344055...|(151,[0,1,2,3,4,5...|
|0001800002|  180| 0002|1727 S SNOQUALMIE ST|[1226.10175555728...|(151,[0,1,2,3,4,5...|
|0001800004|  180| 0004|  1716 S ANGELINE ST|[1226.08200859204...|(151,[0,1,2,3,4,5...|
|0001800006|  180| 0006|  1568 S ANGELINE ST|[1226.08404515895...|(151,[0,1,2,3,4,5...|
|0001800008|  180| 0008|  1526 S ANGELINE ST|[1226.08448340752...|(151,[0,1,2,3,4,5...|
|0001800009|  180| 0009|1517 S SNOQUALMIE ST|[1226.10397257949...|(151,[0,1,2,3,4,5...|
|0001800010|  180| 0010|1525 S SNOQUALMIE ST|[1226.10404991747...|(151,[0,1,2,3,4,5...|
|0001800011|  180| 0011|1509 S SNOQUALMIE ST|[1226.10394680016...|(151,[0,1,2,3,4,5...|
|0001800018|  180| 0018|    1000 S MYRTLE ST|[1225.54033335215...|(151,[0,1,2,3,4,5...|
|0001800020|  180| 0020|     6118 12TH AVE S|[1225.75940608148...|(151,[0,1,2,3,4,5...|
|0001800021|  180| 0021|      1201 S VALE ST|[1225.78348397382...|(151,[0,1,2,3,4,5...|
|0001800033|  180| 0033|    6500 URSULA PL S|[1225.66190866299...|(151,[0,1,2,3,4,5...|
|0001800045|  180| 0045|     4614 15TH AVE S|[1226.09631611907...|(151,[0,1,2,3,4,5...|
|0001800046|  180| 0046|  6106 AIRPORT WAY S|[1225.76716565920...|(151,[0,1,2,3,4,8...|
|0001800050|  180| 0050|1501 S SNOQUALMIE ST|[1226.10358588957...|(151,[0,1,2,3,4,5...|
|0001800058|  180| 0058|    1615 S GRAHAM ST|[1225.72349547757...|(151,[0,1,2,3,4,6...|
|0001800063|  180| 0063|     6100 12TH AVE S|[1225.76448460909...|(151,[0,1,2,3,4,5...|
|0001800066|  180| 0066|      818 S ORCAS ST|[1225.81532144390...|(151,[0,1,2,3,4,5...|
|0001800073|  180| 0073|     824A S ORCAS ST|[1225.81328487699...|(151,[0,1,2,3,4,5...|
|0001800074|  180| 0074|     824B S ORCAS ST|[1225.81132564806...|(151,[0,1,2,3,4,5...|
+----------+-----+-----+--------------------+--------------------+--------------------+
only showing top 20 rows

In [124]:
gis3.printSchema()

root
 |-- PIN: string (nullable = true)
 |-- MAJOR: long (nullable = true)
 |-- MINOR: string (nullable = true)
 |-- ADDR_FULL: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- features: vector (nullable = true)

In [82]:
cs = gis3.schema.names

In [115]:
gis3.select('LAT').collect()

[Row(LAT=47.56107),
 Row(LAT=47.561432),
 Row(LAT=47.560666),
 Row(LAT=47.560745000000004),
 Row(LAT=47.560762),
 Row(LAT=47.561518),
 Row(LAT=47.561521),
 Row(LAT=47.561516999999995),
 Row(LAT=47.539654),
 Row(LAT=47.548152),
 Row(LAT=47.549085999999996),
 Row(LAT=47.54437),
 Row(LAT=47.561221),
 Row(LAT=47.548453),
 Row(LAT=47.561503),
 Row(LAT=47.546759),
 Row(LAT=47.548349),
 Row(LAT=47.550321000000004),
 Row(LAT=47.550242),
 Row(LAT=47.550166),
 Row(LAT=47.561491),
 Row(LAT=47.55022),
 Row(LAT=47.561452),
 Row(LAT=47.560831),
 Row(LAT=47.560952),
 Row(LAT=47.550344),
 Row(LAT=47.550314),
 Row(LAT=47.561434000000006),
 Row(LAT=47.5405),
 Row(LAT=47.550288),
 Row(LAT=47.540440000000004),
 Row(LAT=47.547323),
 Row(LAT=47.539674),
 Row(LAT=47.550144),
 Row(LAT=47.549975),
 Row(LAT=47.561486),
 Row(LAT=47.5418),
 Row(LAT=47.560990999999994),
 Row(LAT=47.550063),
 Row(LAT=47.540659999999995),
 Row(LAT=47.561264),
 Row(LAT=47.56074),
 Row(LAT=47.561014),
 Row(LAT=47.561496000000005),
 Row(LAT=47.55364),
 Row(LAT=47.541426),
 Row(LAT=47.560747),
 Row(LAT=47.560671),
 Row(LAT=47.560953999999995),
 Row(LAT=47.560885),
 Row(LAT=47.542158),
 Row(LAT=47.560802),
 Row(LAT=47.54696),
 Row(LAT=47.561443),
 Row(LAT=47.561433),
 Row(LAT=47.560916),
 Row(LAT=47.56142),
 Row(LAT=47.561316),
 Row(LAT=47.560961),
 Row(LAT=47.561083),
 Row(LAT=47.561211),
 Row(LAT=47.561147999999996),
 Row(LAT=47.561213),
 Row(LAT=47.541385),
 Row(LAT=47.555766),
 Row(LAT=47.546607),
 Row(LAT=47.56062),
 Row(LAT=47.561003),
 Row(LAT=47.561434999999996),
 Row(LAT=47.556746000000004),
 Row(LAT=47.561068),
 Row(LAT=47.543482),
 Row(LAT=47.611715999999994),
 Row(LAT=47.608884),
 Row(LAT=47.612264),
 Row(LAT=47.611839),
 Row(LAT=47.580115),
 Row(LAT=47.579828000000006),
 Row(LAT=47.580156),
 Row(LAT=47.578618),
 Row(LAT=47.577348),
 Row(LAT=47.57526),
 Row(LAT=47.580806),
 Row(LAT=47.580666),
 Row(LAT=47.578117999999996),
 Row(LAT=47.576285999999996),
 Row(LAT=47.575221),
 Row(LAT=47.575661),
 Row(LAT=47.57848),
 Row(LAT=47.578461),
 Row(LAT=47.578685),
 Row(LAT=47.577974),
 Row(LAT=47.575607),
 Row(LAT=47.580589),
 Row(LAT=47.57553),
 Row(LAT=47.576972),
 Row(LAT=47.580292),
 Row(LAT=47.580319),
 Row(LAT=47.580302),
 Row(LAT=47.580317),
 Row(LAT=47.580206),
 Row(LAT=47.580207),
 Row(LAT=47.579357),
 Row(LAT=47.578049),
 Row(LAT=47.580294),
 Row(LAT=47.580474),
 Row(LAT=47.577641),
 Row(LAT=47.578057),
 Row(LAT=47.578096),
 Row(LAT=47.58085),
 Row(LAT=47.580861),
 Row(LAT=47.580859000000004),
 Row(LAT=47.580816),
 Row(LAT=47.580061),
 Row(LAT=47.577833),
 Row(LAT=47.580774),
 Row(LAT=47.578032),
 Row(LAT=47.58065),
 Row(LAT=47.580622),
 Row(LAT=47.580846),
 Row(LAT=47.580496999999994),
 Row(LAT=47.580498),
 Row(LAT=47.5805),
 Row(LAT=47.580405999999996),
 Row(LAT=47.580402),
 Row(LAT=47.580394),
 Row(LAT=47.554361),
 Row(LAT=47.541878999999994),
 Row(LAT=47.540721000000005),
 Row(LAT=47.542538),
 Row(LAT=47.542663),
 Row(LAT=47.542797),
 Row(LAT=47.540742),
 Row(LAT=47.542004),
 Row(LAT=47.540613),
 Row(LAT=47.541191999999995),
 Row(LAT=47.542799),
 Row(LAT=47.542407),
 Row(LAT=47.541505),
 Row(LAT=47.541268),
 Row(LAT=47.541111),
 Row(LAT=47.541149),
 Row(LAT=47.541616),
 Row(LAT=47.541948),
 Row(LAT=47.542201),
 Row(LAT=47.542124),
 Row(LAT=47.542),
 Row(LAT=47.541588),
 Row(LAT=47.541964),
 Row(LAT=47.541081),
 Row(LAT=47.54075),
 Row(LAT=47.54036),
 Row(LAT=47.542186),
 Row(LAT=47.542341),
 Row(LAT=47.542353000000006),
 Row(LAT=47.542131),
 Row(LAT=47.542283000000005),
 Row(LAT=47.541691),
 Row(LAT=47.540158),
 Row(LAT=47.541077),
 Row(LAT=47.541467),
 Row(LAT=47.540739),
 Row(LAT=47.542283000000005),
 Row(LAT=47.540737),
 Row(LAT=47.542522999999996),
 Row(LAT=47.540727000000004),
 Row(LAT=47.541837),
 Row(LAT=47.54172),
 Row(LAT=47.541768),
 Row(LAT=47.541351),
 Row(LAT=47.541273),
 Row(LAT=47.541953),
 Row(LAT=47.541958),
 Row(LAT=47.525526),
 Row(LAT=47.525814000000004),
 Row(LAT=47.530265),
 Row(LAT=47.527924),
 Row(LAT=47.528715999999996),
 Row(LAT=47.52452),
 Row(LAT=47.524701),
 Row(LAT=47.525334),
 Row(LAT=47.52825),
 Row(LAT=47.52836),
 Row(LAT=47.525022),
 Row(LAT=47.528344),
 Row(LAT=47.528344),
 Row(LAT=47.528346),
 Row(LAT=47.528348),
 Row(LAT=47.525719),
 Row(LAT=47.530603),
 Row(LAT=47.530497),
 Row(LAT=47.528984),
 Row(LAT=47.530390000000004),
 Row(LAT=47.528513000000004),
 Row(LAT=47.530489),
 Row(LAT=47.530602),
 Row(LAT=47.530271),
 Row(LAT=47.527583),
 Row(LAT=47.531875),
 Row(LAT=47.531954999999996),
 Row(LAT=47.527765),
 Row(LAT=47.531909999999996),
 Row(LAT=47.530389),
 Row(LAT=47.528656),
 Row(LAT=47.524848999999996),
 Row(LAT=47.528431),
 Row(LAT=47.528343),
 Row(LAT=47.525686),
 Row(LAT=47.524487),
 Row(LAT=47.524985),
 Row(LAT=47.525208),
 Row(LAT=47.528851),
 Row(LAT=47.528034999999996),
 Row(LAT=47.530146),
 Row(LAT=47.524846999999994),
 Row(LAT=47.52557),
 Row(LAT=47.525538),
 Row(LAT=47.530507),
 Row(LAT=47.528256),
 Row(LAT=47.525853999999995),
 Row(LAT=47.601327000000005),
 Row(LAT=47.601375),
 Row(LAT=47.601469),
 Row(LAT=47.603843),
 Row(LAT=47.603988),
 Row(LAT=47.60393),
 Row(LAT=47.603628),
 Row(LAT=47.604022),
 Row(LAT=47.604157),
 Row(LAT=47.604147),
 Row(LAT=47.604171),
 Row(LAT=47.604124),
 Row(LAT=47.60403),
 Row(LAT=47.603913),
 Row(LAT=47.603804),
 Row(LAT=47.603677000000005),
 Row(LAT=47.603151000000004),
 Row(LAT=47.603336999999996),
 Row(LAT=47.603077),
 Row(LAT=47.602959000000006),
 Row(LAT=47.60288),
 Row(LAT=47.602837),
 Row(LAT=47.601816),
 Row(LAT=47.601819),
 Row(LAT=47.601918),
 Row(LAT=47.601989),
 Row(LAT=47.601997),
 Row(LAT=47.601831),
 Row(LAT=47.601876000000004),
 Row(LAT=47.602222),
 Row(LAT=47.602540000000005),
 Row(LAT=47.60218),
 Row(LAT=47.601971),
 Row(LAT=47.601911),
 Row(LAT=47.602193),
 Row(LAT=47.60236),
 Row(LAT=47.602497),
 Row(LAT=47.602199),
 Row(LAT=47.601467),
 Row(LAT=47.601464),
 Row(LAT=47.601468),
 Row(LAT=47.601521999999996),
 Row(LAT=47.602340000000005),
 Row(LAT=47.601471000000004),
 Row(LAT=47.601409999999994),
 Row(LAT=47.602340999999996),
 Row(LAT=47.602340999999996),
 Row(LAT=47.601298),
 Row(LAT=47.601436),
 Row(LAT=47.601407),
 Row(LAT=47.601493),
 Row(LAT=47.601865999999994),
 Row(LAT=47.601898),
 Row(LAT=47.602339),
 Row(LAT=47.602506),
 Row(LAT=47.602526),
 Row(LAT=47.60252),
 Row(LAT=47.602528),
 Row(LAT=47.6019),
 Row(LAT=47.601797),
 Row(LAT=47.601562),
 Row(LAT=47.602349),
 Row(LAT=47.602357),
 Row(LAT=47.602346999999995),
 Row(LAT=47.602445),
 Row(LAT=47.602526),
 Row(LAT=47.602519),
 Row(LAT=47.602384),
 Row(LAT=47.602472999999996),
 Row(LAT=47.601496999999995),
 Row(LAT=47.602384),
 Row(LAT=47.601514),
 Row(LAT=47.601465999999995),
 Row(LAT=47.601418),
 Row(LAT=47.601378000000004),
 Row(LAT=47.601324),
 Row(LAT=47.601323),
 Row(LAT=47.601265000000005),
 Row(LAT=47.601321),
 Row(LAT=47.601502),
 Row(LAT=47.601444),
 Row(LAT=47.6015),
 Row(LAT=47.603355),
 Row(LAT=47.601349),
 Row(LAT=47.601265999999995),
 Row(LAT=47.601299),
 Row(LAT=47.601496000000004),
 Row(LAT=47.603619),
 Row(LAT=47.604172999999996),
 Row(LAT=47.604065999999996),
 Row(LAT=47.603798),
 Row(LAT=47.60371),
 Row(LAT=47.603730999999996),
 Row(LAT=47.602517999999996),
 Row(LAT=47.602018),
 Row(LAT=47.601288000000004),
 Row(LAT=47.60232),
 Row(LAT=47.603893),
 Row(LAT=47.604122),
 Row(LAT=47.601917),
 Row(LAT=47.601877),
 Row(LAT=47.602094),
 Row(LAT=47.601864),
 Row(LAT=47.604127000000005),
 Row(LAT=47.603372),
 Row(LAT=47.601431),
 Row(LAT=47.602412),
 Row(LAT=47.601478),
 Row(LAT=47.601479),
 Row(LAT=47.60326),
 Row(LAT=47.603674),
 Row(LAT=47.603673),
 Row(LAT=47.602323999999996),
 Row(LAT=47.6021),
 Row(LAT=47.602021),
 Row(LAT=47.601795),
 Row(LAT=47.601853000000006),
 Row(LAT=47.601907000000004),
 Row(LAT=47.602049),
 Row(LAT=47.601457),
 Row(LAT=47.601514),
 Row(LAT=47.602266),
 Row(LAT=47.602232),
 Row(LAT=47.601962),
 Row(LAT=47.680251),
 Row(LAT=47.680103),
 Row(LAT=47.679983),
 Row(LAT=47.679862),
 Row(LAT=47.679752),
 Row(LAT=47.679596999999994),
 Row(LAT=47.679562),
 Row(LAT=47.679699),
 Row(LAT=47.679838000000004),
 Row(LAT=47.679958),
 Row(LAT=47.680061),
 Row(LAT=47.680165),
 Row(LAT=47.680268),
 Row(LAT=47.680172),
 Row(LAT=47.680276),
 Row(LAT=47.68005),
 Row(LAT=47.679912),
 Row(LAT=47.679768),
 Row(LAT=47.679665),
 Row(LAT=47.679562),
 Row(LAT=47.679562),
 Row(LAT=47.6797),
 Row(LAT=47.679803),
 Row(LAT=47.679906),
 Row(LAT=47.68005),
 Row(LAT=47.680174),
 Row(LAT=47.68027),
 Row(LAT=47.680265999999996),
 Row(LAT=47.680163),
 Row(LAT=47.680057),
 Row(LAT=47.679919),
 Row(LAT=47.679747),
 Row(LAT=47.679575),
 Row(LAT=47.566462),
 Row(LAT=47.566307),
 Row(LAT=47.566174),
 Row(LAT=47.566024),
 Row(LAT=47.565895000000005),
 Row(LAT=47.56575),
 Row(LAT=47.56563),
 Row(LAT=47.565505),
 Row(LAT=47.565384),
 Row(LAT=47.565271),
 Row(LAT=47.565163),
 Row(LAT=47.56505),
 Row(LAT=47.56493),
 Row(LAT=47.564933),
 Row(LAT=47.565043),
 Row(LAT=47.565165),
 Row(LAT=47.56527),
 Row(LAT=47.565373),
 Row(LAT=47.565495),
 Row(LAT=47.5656),
 Row(LAT=47.565704),
 Row(LAT=47.56582),
 Row(LAT=47.565929),
 Row(LAT=47.566045),
 Row(LAT=47.566145),
 Row(LAT=47.566235),
 Row(LAT=47.566444),
 Row(LAT=47.630752),
 Row(LAT=47.524339000000005),
 Row(LAT=47.52427),
 Row(LAT=47.524203),
 Row(LAT=47.524091),
 Row(LAT=47.523959999999995),
 Row(LAT=47.524435),
 Row(LAT=47.524491999999995),
 Row(LAT=47.524412),
 Row(LAT=47.524337),
 Row(LAT=47.524208),
 Row(LAT=47.524138),
 Row(LAT=47.524006),
 Row(LAT=47.523933),
 Row(LAT=47.523868),
 Row(LAT=47.523799),
 Row(LAT=47.523489),
 Row(LAT=47.523244),
 Row(LAT=47.523065),
 Row(LAT=47.522933),
 Row(LAT=47.522633),
 Row(LAT=47.521822),
 Row(LAT=47.521735),
 Row(LAT=47.521545),
 Row(LAT=47.521440999999996),
 Row(LAT=47.521336),
 Row(LAT=47.521238000000004),
 Row(LAT=47.521085),
 Row(LAT=47.522538),
 Row(LAT=47.5224),
 Row(LAT=47.522323),
 Row(LAT=47.522264),
 Row(LAT=47.522197999999996),
 Row(LAT=47.521978000000004),
 Row(LAT=47.522033),
 Row(LAT=47.522648),
 Row(LAT=47.522464),
 Row(LAT=47.522189000000004),
 Row(LAT=47.523671),
 Row(LAT=47.523596999999995),
 Row(LAT=47.523373),
 Row(LAT=47.523125),
 Row(LAT=47.522960999999995),
 Row(LAT=47.523391),
 Row(LAT=47.523247),
 Row(LAT=47.522959),
 Row(LAT=47.524421999999994),
 Row(LAT=47.524332),
 Row(LAT=47.524219),
 Row(LAT=47.524146),
 Row(LAT=47.524025),
 Row(LAT=47.523875),
 Row(LAT=47.523748),
 Row(LAT=47.524403),
 Row(LAT=47.524283000000004),
 Row(LAT=47.524068),
 Row(LAT=47.523747),
 Row(LAT=47.523945),
 Row(LAT=47.524501),
 Row(LAT=47.524381),
 Row(LAT=47.524295),
 Row(LAT=47.524228),
 Row(LAT=47.524161),
 Row(LAT=47.52409),
 Row(LAT=47.524014),
 Row(LAT=47.523961),
 Row(LAT=47.524442),
 Row(LAT=47.524303),
 Row(LAT=47.524234),
 Row(LAT=47.524167),
 Row(LAT=47.524099),
 Row(LAT=47.523891),
 Row(LAT=47.523253000000004),
 Row(LAT=47.523028000000004),
 Row(LAT=47.523695000000004),
 Row(LAT=47.523428),
 Row(LAT=47.523542),
 Row(LAT=47.523312),
 Row(LAT=47.523175),
 Row(LAT=47.52301),
 Row(LAT=47.522985999999996),
 Row(LAT=47.522661),
 Row(LAT=47.522544),
 Row(LAT=47.522382),
 Row(LAT=47.522141999999995),
 Row(LAT=47.522656),
 Row(LAT=47.522541),
 Row(LAT=47.522396),
 Row(LAT=47.522265000000004),
 Row(LAT=47.522038),
 Row(LAT=47.521781),
 Row(LAT=47.521608),
 Row(LAT=47.521525),
 Row(LAT=47.521466),
 Row(LAT=47.521378999999996),
 Row(LAT=47.521211),
 Row(LAT=47.521089),
 Row(LAT=47.521843),
 Row(LAT=47.521634000000006),
 Row(LAT=47.521456),
 Row(LAT=47.521308000000005),
 Row(LAT=47.521097),
 Row(LAT=47.533532),
 Row(LAT=47.558508),
 Row(LAT=47.558512),
 Row(LAT=47.558506),
 Row(LAT=47.55851),
 Row(LAT=47.55851),
 Row(LAT=47.531201),
 Row(LAT=47.531099),
 Row(LAT=47.530989),
 Row(LAT=47.530884),
 Row(LAT=47.53076),
 Row(LAT=47.530592),
 Row(LAT=47.53045),
 Row(LAT=47.530345000000004),
 Row(LAT=47.530227000000004),
 Row(LAT=47.530114000000005),
 Row(LAT=47.529998),
 Row(LAT=47.529921),
 Row(LAT=47.529948),
 Row(LAT=47.529928999999996),
 Row(LAT=47.530138),
 Row(LAT=47.530358),
 Row(LAT=47.530433),
 Row(LAT=47.530557),
 Row(LAT=47.530654999999996),
 Row(LAT=47.530758),
 Row(LAT=47.530881),
 Row(LAT=47.530989),
 Row(LAT=47.531090999999996),
 Row(LAT=47.531211),
 Row(LAT=47.529612),
 Row(LAT=47.529501),
 Row(LAT=47.529402000000005),
 Row(LAT=47.529296),
 Row(LAT=47.529208000000004),
 Row(LAT=47.529071),
 Row(LAT=47.528975),
 Row(LAT=47.528822),
 Row(LAT=47.528724),
 Row(LAT=47.528721999999995),
 Row(LAT=47.528847999999996),
 Row(LAT=47.528966),
 Row(LAT=47.529069),
 Row(LAT=47.529179),
 Row(LAT=47.529308),
 Row(LAT=47.529587),
 Row(LAT=47.529578),
 Row(LAT=47.529532),
 Row(LAT=47.529399),
 Row(LAT=47.529264000000005),
 Row(LAT=47.529051),
 Row(LAT=47.528896),
 Row(LAT=47.528675),
 Row(LAT=47.529483),
 Row(LAT=47.529140000000005),
 Row(LAT=47.528998),
 Row(LAT=47.52885),
 Row(LAT=47.528773),
 Row(LAT=47.528739),
 Row(LAT=47.528702),
 Row(LAT=47.528715999999996),
 Row(LAT=47.530675),
 Row(LAT=47.530567),
 Row(LAT=47.530392),
 Row(LAT=47.530223),
 Row(LAT=47.530102),
 Row(LAT=47.529957),
 Row(LAT=47.529986),
 Row(LAT=47.530167),
 Row(LAT=47.530326),
 Row(LAT=47.530491999999995),
 Row(LAT=47.530611),
 Row(LAT=47.530757),
 Row(LAT=47.5309),
 Row(LAT=47.531213),
 Row(LAT=47.531246),
 Row(LAT=47.531092),
 Row(LAT=47.530981),
 Row(LAT=47.531153),
 Row(LAT=47.530606),
 Row(LAT=47.530279),
 Row(LAT=47.529376),
 Row(LAT=47.529115999999995),
 Row(LAT=47.529111),
 Row(LAT=47.529307),
 Row(LAT=47.529499),
 Row(LAT=47.529608),
 Row(LAT=47.529733),
 Row(LAT=47.529883),
 Row(LAT=47.529992),
 Row(LAT=47.530102),
 Row(LAT=47.530208),
 Row(LAT=47.530587),
 Row(LAT=47.530809000000005),
 Row(LAT=47.530988),
 Row(LAT=47.531155),
 Row(LAT=47.530376000000004),
 Row(LAT=47.530202),
 Row(LAT=47.530046999999996),
 Row(LAT=47.529846),
 Row(LAT=47.52968),
 Row(LAT=47.529452),
 Row(LAT=47.529326),
 Row(LAT=47.529165),
 Row(LAT=47.52904),
 Row(LAT=47.528737),
 Row(LAT=47.530722),
 Row(LAT=47.530823),
 Row(LAT=47.530919),
 Row(LAT=47.531166999999996),
 Row(LAT=47.530844),
 Row(LAT=47.530731),
 Row(LAT=47.530696),
 Row(LAT=47.530639),
 Row(LAT=47.530516999999996),
 Row(LAT=47.530719),
 Row(LAT=47.53082),
 Row(LAT=47.530919),
 Row(LAT=47.531046999999994),
 Row(LAT=47.531279999999995),
 Row(LAT=47.530279),
 Row(LAT=47.530139),
 Row(LAT=47.53),
 Row(LAT=47.529827000000004),
 Row(LAT=47.529691),
 Row(LAT=47.529525),
 Row(LAT=47.529371000000005),
 Row(LAT=47.529153),
 Row(LAT=47.529008000000005),
 Row(LAT=47.528884000000005),
 Row(LAT=47.52877),
 Row(LAT=47.528682),
 Row(LAT=47.528728),
 Row(LAT=47.528713),
 Row(LAT=47.528893),
 Row(LAT=47.528996),
 Row(LAT=47.529108),
 Row(LAT=47.529213),
 Row(LAT=47.529323),
 Row(LAT=47.529432),
 Row(LAT=47.529542),
 Row(LAT=47.529649),
 Row(LAT=47.529756),
 Row(LAT=47.529854),
 Row(LAT=47.529975),
 Row(LAT=47.530118),
 Row(LAT=47.515219),
 Row(LAT=47.515454999999996),
 Row(LAT=47.515387),
 Row(LAT=47.515361999999996),
 Row(LAT=47.515395),
 Row(LAT=47.515386),
 Row(LAT=47.515254999999996),
 Row(LAT=47.515448),
 Row(LAT=47.515446000000004),
 Row(LAT=47.515453),
 Row(LAT=47.515357),
 Row(LAT=47.515446000000004),
 Row(LAT=47.515426),
 Row(LAT=47.514957),
 Row(LAT=47.514877),
 Row(LAT=47.514871),
 Row(LAT=47.514877),
 Row(LAT=47.51493),
 Row(LAT=47.514986),
 Row(LAT=47.514922999999996),
 Row(LAT=47.514893),
 Row(LAT=47.51489),
 Row(LAT=47.514917),
 Row(LAT=47.515049),
 Row(LAT=47.514855),
 Row(LAT=47.515446999999995),
 Row(LAT=47.515248),
 Row(LAT=47.515371),
 Row(LAT=47.515376),
 Row(LAT=47.515281),
 Row(LAT=47.515415999999995),
 Row(LAT=47.515347999999996),
 Row(LAT=47.515356),
 Row(LAT=47.515371),
 Row(LAT=47.51542),
 Row(LAT=47.515412),
 Row(LAT=47.515421),
 Row(LAT=47.515256),
 Row(LAT=47.515053),
 Row(LAT=47.514815000000006),
 Row(LAT=47.514947),
 Row(LAT=47.514854),
 Row(LAT=47.51486),
 Row(LAT=47.514864),
 Row(LAT=47.514869),
 Row(LAT=47.514903000000004),
 Row(LAT=47.51493),
 Row(LAT=47.51502),
 Row(LAT=47.514866999999995),
 Row(LAT=47.514928000000005),
 Row(LAT=47.514893),
 Row(LAT=47.515058),
 Row(LAT=47.514355),
 Row(LAT=47.514511999999996),
 Row(LAT=47.514466999999996),
 Row(LAT=47.514472),
 Row(LAT=47.514508),
 Row(LAT=47.514365999999995),
 Row(LAT=47.514414),
 Row(LAT=47.514511999999996),
 Row(LAT=47.514506),
 Row(LAT=47.514307),
 Row(LAT=47.51443),
 Row(LAT=47.514464000000004),
 Row(LAT=47.513933),
 Row(LAT=47.514101000000004),
 Row(LAT=47.513928),
 Row(LAT=47.514047999999995),
 Row(LAT=47.513931),
 Row(LAT=47.5139),
 Row(LAT=47.51395),
 Row(LAT=47.513967),
 Row(LAT=47.513923),
 Row(LAT=47.514132000000004),
 Row(LAT=47.513963000000004),
 Row(LAT=47.513907),
 Row(LAT=47.513977000000004),
 Row(LAT=47.514140000000005),
 Row(LAT=47.514434),
 Row(LAT=47.514496),
 Row(LAT=47.514429),
 Row(LAT=47.514482),
 Row(LAT=47.514451),
 Row(LAT=47.514494),
 Row(LAT=47.514486),
 Row(LAT=47.514448),
 Row(LAT=47.514493),
 Row(LAT=47.514458000000005),
 Row(LAT=47.514507),
 Row(LAT=47.514317),
 Row(LAT=47.513878000000005),
 Row(LAT=47.514084999999994),
 Row(LAT=47.513946000000004),
 Row(LAT=47.513942),
 Row(LAT=47.513946999999995),
 Row(LAT=47.513946999999995),
 Row(LAT=47.513965),
 Row(LAT=47.513946999999995),
 Row(LAT=47.513951),
 Row(LAT=47.513909999999996),
 Row(LAT=47.513977000000004),
 Row(LAT=47.513979),
 Row(LAT=47.51396),
 Row(LAT=47.509298),
 Row(LAT=47.509793),
 Row(LAT=47.509811),
 Row(LAT=47.509301),
 Row(LAT=47.509299),
 Row(LAT=47.509792),
 Row(LAT=47.509302000000005),
 Row(LAT=47.509807),
 Row(LAT=47.509282),
 Row(LAT=47.509795000000004),
 Row(LAT=47.509304),
 Row(LAT=47.509811),
 Row(LAT=47.509794),
 Row(LAT=47.509334),
 Row(LAT=47.509803000000005),
 Row(LAT=47.508815999999996),
 Row(LAT=47.508790999999995),
 Row(LAT=47.508428),
 Row(LAT=47.508466),
 Row(LAT=47.508394),
 Row(LAT=47.508868),
 Row(LAT=47.508885),
 Row(LAT=47.508429),
 Row(LAT=47.508921),
 Row(LAT=47.508445),
 Row(LAT=47.508479),
 Row(LAT=47.508888),
 Row(LAT=47.508901),
 Row(LAT=47.50889),
 Row(LAT=47.508401),
 Row(LAT=47.50892),
 Row(LAT=47.508772),
 Row(LAT=47.508564),
 Row(LAT=47.508395),
 Row(LAT=47.557282),
 Row(LAT=47.557175),
 Row(LAT=47.630237),
 Row(LAT=47.630194),
 Row(LAT=47.630115),
 Row(LAT=47.630069),
 Row(LAT=47.630074),
 Row(LAT=47.630119),
 Row(LAT=47.630193),
 Row(LAT=47.630246),
 Row(LAT=47.629888),
 Row(LAT=47.629938),
 Row(LAT=47.630009),
 Row(LAT=47.630196000000005),
 Row(LAT=47.630198),
 Row(LAT=47.630196999999995),
 Row(LAT=47.630201),
 Row(LAT=47.629959),
 Row(LAT=47.630089),
 Row(LAT=47.629842),
 Row(LAT=47.629957),
 Row(LAT=47.582319),
 Row(LAT=47.584581),
 Row(LAT=47.584764),
 Row(LAT=47.572688),
 Row(LAT=47.584917),
 Row(LAT=47.582369),
 Row(LAT=47.576846),
 Row(LAT=47.576571),
 Row(LAT=47.576571),
 Row(LAT=47.576453),
 Row(LAT=47.576547999999995),
 Row(LAT=47.576658),
 Row(LAT=47.576738),
 Row(LAT=47.576809000000004),
 Row(LAT=47.576859000000006),
 Row(LAT=47.57693),
 Row(LAT=47.577025),
 Row(LAT=47.577081),
 Row(LAT=47.577202),
 Row(LAT=47.577184),
 Row(LAT=47.577228999999996),
 Row(LAT=47.577271),
 Row(LAT=47.577311),
 Row(LAT=47.577353),
 Row(LAT=47.577388),
 Row(LAT=47.576027),
 Row(LAT=47.576053),
 Row(LAT=47.576122),
 Row(LAT=47.576161),
 Row(LAT=47.576212),
 Row(LAT=47.576352),
 Row(LAT=47.576481),
 Row(LAT=47.576583),
 Row(LAT=47.576638),
 Row(LAT=47.576768),
 Row(LAT=47.576747999999995),
 Row(LAT=47.57687),
 Row(LAT=47.576068),
 Row(LAT=47.576142),
 Row(LAT=47.576266),
 Row(LAT=47.576351),
 Row(LAT=47.57643),
 Row(LAT=47.576),
 Row(LAT=47.576044),
 Row(LAT=47.577887),
 Row(LAT=47.57777),
 Row(LAT=47.578778),
 Row(LAT=47.578647),
 Row(LAT=47.578569),
 Row(LAT=47.578484),
 Row(LAT=47.578404),
 Row(LAT=47.578302),
 Row(LAT=47.578225),
 Row(LAT=47.578123),
 Row(LAT=47.578051),
 Row(LAT=47.577951),
 Row(LAT=47.577853999999995),
 Row(LAT=47.577778),
 Row(LAT=47.577776),
 Row(LAT=47.577853000000005),
 Row(LAT=47.577975),
 Row(LAT=47.578094),
 Row(LAT=47.578204),
 Row(LAT=47.578365999999995),
 Row(LAT=47.578914000000005),
 Row(LAT=47.578839),
 Row(LAT=47.578739),
 Row(LAT=47.578664),
 Row(LAT=47.578579),
 Row(LAT=47.578486),
 Row(LAT=47.57837),
 Row(LAT=47.578312),
 Row(LAT=47.578196000000005),
 Row(LAT=47.578125),

In [91]:
cs[4:13]

['LAT',
 'LON',
 'LOTSQFT',
 'APPRLNDVAL',
 'APPR_IMPR',
 'TAX_LNDVAL',
 'TAX_IMPR',
 'Shape_Length',
 'Shape_Area']

In [96]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [4]:
import pandas as pd

In [8]:
!pwd

/home/jovyan/work/Galvanize/Seattle-Real-Estate-Analysis

In [9]:
spark = SparkSession\
    .builder\
    .master('Local[4]')\
    .appName("Get_GIS_Data")\
    .getOrCreate()

In [15]:
SparkSession.__version__

AttributeError: type object 'SparkSession' has no attribute '__version__'

In [2]:
from pyspark.sql import SparkSession

In [3]:
import pyspark

In [3]:
pyspark.__version__

'2.4.3'

In [4]:
pyspark.__file__

'/usr/local/spark/python/pyspark/__init__.py'

In [5]:
!ls /usr/local/spark/python/pyspark

accumulators.py     heapq3.py	     rddsampler.py	streaming
broadcast.py	    __init__.py      resultiterable.py	taskcontext.py
cloudpickle.py	    java_gateway.py  serializers.py	test_broadcast.py
conf.py		    join.py	     shell.py		test_serializers.py
context.py	    ml		     shuffle.py		tests.py
daemon.py	    mllib	     sql		traceback_utils.py
files.py	    profiler.py      statcounter.py	util.py
find_spark_home.py  python	     status.py		version.py
_globals.py	    rdd.py	     storagelevel.py	worker.py

In [8]:
spark = SparkSession\
    .builder\
    .master('Local[4]')\
    .appName("Get_GIS_Data")\
    .config("spark.master", "local")\
    .getOrCreate()

In [27]:
!env | grep SPARK

APACHE_SPARK_VERSION=2.4.3
SPARK_OPTS=--driver-java-options=-Xms1024M --driver-java-options=-Xmx4096M --driver-java-options=-Dlog4j.logLevel=info
SPARK_HOME=/usr/local/spark

In [1]:
import os

In [3]:
os.environ['PYSPARK_SUBMIT_ARGS'] = "--master spark://127.0.0.1:7077"

In [1]:
import findspark as fs

In [2]:
fs.init()

In [7]:
os.environ

environ{'LC_ALL': 'en_US.UTF-8',
        'LANG': 'en_US.UTF-8',
        'HOSTNAME': '0983c579216f',
        'NB_UID': '1000',
        'CONDA_DIR': '/opt/conda',
        'CONDA_VERSION': '4.7.10',
        'MESOS_NATIVE_LIBRARY': '/usr/local/lib/libmesos.so',
        'PWD': '/home/jovyan',
        'HOME': '/home/jovyan',
        'DEBIAN_FRONTEND': 'noninteractive',
        'SPARK_HOME': '/usr/local/spark',
        'NB_USER': 'jovyan',
        'HADOOP_VERSION': '2.7',
        'SHELL': '/bin/bash',
        'SPARK_OPTS': '--driver-java-options=-Xms1024M --driver-java-options=-Xmx4096M --driver-java-options=-Dlog4j.logLevel=info',
        'APACHE_SPARK_VERSION': '2.4.3',
        'SHLVL': '0',
        'LANGUAGE': 'en_US.UTF-8',
        'PYTHONPATH': '/usr/local/spark/python:/usr/local/spark/python/lib/py4j-0.10.7-src.zip',
        'XDG_CACHE_HOME': '/home/jovyan/.cache/',
        'NB_GID': '100',
        'PATH': '/opt/conda/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin',
        'MINICONDA_VERSION': '4.6.14',
        'KERNEL_LAUNCH_TIMEOUT': '40',
        'JPY_PARENT_PID': '6',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://ipykernel.pylab.backend_inline',
        'PYSPARK_SUBMIT_ARGS': '--master spark://127.0.0.1:7077'}

In [18]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [71]:
parcelpd = get_parcels()

In [54]:
parcelpd.columns

Index(['Range', 'Township', 'Section', 'QuarterSection', 'Area', 'SubArea',
       'DistrictName', 'LevyCode', 'CurrentZoning', 'PresentUse', 'SqFtLot',
       'WaterSystem', 'SewerSystem', 'Access', 'Topography', 'StreetSurface',
       'InadequateParking', 'PcntUnusable', 'Unbuildable', 'MtRainier',
       'Olympics', 'Cascades', 'Territorial', 'SeattleSkyline', 'PugetSound',
       'LakeWashington', 'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView',
       'WfntLocation', 'WfntFootage', 'WfntBank', 'WfntPoorQuality',
       'WfntRestrictedAccess', 'WfntAccessRights', 'WfntProximityInfluence',
       'TidelandShoreland', 'LotDepthFactor', 'TrafficNoise', 'AirportNoise',
       'PowerLines', 'OtherNuisances', 'NbrBldgSites', 'Contamination',
       'AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems', 'OtherProblems', 'PIN'],
      dtype='object')

In [22]:
cat_cols = ['Range', 'Township', 'Section', 'QuarterSection', 'Area',
       'SubArea','DistrictName', 'LevyCode',
       'CurrentZoning', 'PresentUse',
       'SqFtLot', 'WaterSystem', 'SewerSystem', 'Access', 'Topography',
       'StreetSurface', 'InadequateParking', 
       'Unbuildable', 'MtRainier', 'Olympics', 'Cascades',
       'Territorial', 'SeattleSkyline', 'PugetSound', 'LakeWashington',
       'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView', 'WfntLocation',
        'WfntBank', 'WfntPoorQuality', 'WfntRestrictedAccess',
       'WfntAccessRights',  'TidelandShoreland',
       'LotDepthFactor', 'TrafficNoise', 'NbrBldgSites', 'Contamination']

binary_cols = ['AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
        'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
        'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
        'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LangisillBuffer',
        'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
        'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
        'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency',
        'OtherProblems''WfntProximityInfluence','PowerLines', 
       'OtherNuisances']
    
all_cat_cols = cat_cols + binary_cols

In [52]:
for col in parcelpd.columns:
    if col not in all_cat_cols:
        print(col)

PcntUnusable
WfntFootage
WfntProximityInfluence
AirportNoise
LandfillBuffer
OtherProblems
PIN

In [72]:
parcelpd['Unbuildable'].value_counts()

0    161097
1       424
Name: Unbuildable, dtype: int64

In [80]:
parcel_spark = get_parcels_to_spark()

In [79]:
print((parcel_spark.count(), len(parcel_spark.columns)))

(161521, 2)

In [140]:
gispd = get_gis_data()

In [141]:
gispd.columns

Index(['PIN', 'MAJOR', 'MINOR', 'SITETYPE', 'ADDR_FULL', 'LAT', 'LON',
       'KCTP_STATE', 'LOTSQFT', 'LEVYCODE', 'NEW_CONSTR', 'TAXVAL_RSN',
       'APPRLNDVAL', 'APPR_IMPR', 'TAX_LNDVAL', 'TAX_IMPR', 'QTS', 'SEC',
       'TWP', 'RNG', 'Shape_Length', 'Shape_Area', 'PROPTYPE', 'KCA_ZONING',
       'KCA_ACRES', 'PREUSE_DESC', 'target'],
      dtype='object')

In [143]:
gispd['target'].value_counts()

False    173777
True        873
Name: target, dtype: int64

In [136]:
gispd['PREUSE_DESC'].fillna('NaN', inplace=True)

In [137]:
gispd[gispd['PREUSE_DESC'].isnull()]

Empty DataFrame
Columns: [PIN, MAJOR, MINOR, SITETYPE, ADDR_FULL, LAT, LON, KCTP_STATE, LOTSQFT, LEVYCODE, NEW_CONSTR, TAXVAL_RSN, APPRLNDVAL, APPR_IMPR, TAX_LNDVAL, TAX_IMPR, QTS, SEC, TWP, RNG, Shape_Length, Shape_Area, PROPTYPE, KCA_ZONING, KCA_ACRES, PREUSE_DESC]
Index: []

[0 rows x 26 columns]

In [101]:
gispd[gispd['QTS']=='  ']

Empty DataFrame
Columns: [PIN, MAJOR, MINOR, SITETYPE, ADDR_FULL, LAT, LON, KCTP_STATE, LOTSQFT, LEVYCODE, NEW_CONSTR, TAXVAL_RSN, APPRLNDVAL, APPR_IMPR, TAX_LNDVAL, TAX_IMPR, QTS, SEC, TWP, RNG, Shape_Length, Shape_Area, PROPTYPE, KCA_ZONING, KCA_ACRES]
Index: []

[0 rows x 25 columns]

In [147]:
full = create_full_dataframe()

In [148]:
full.show()

+----------+-----+-----+--------------------+------+--------------------+
|       PIN|MAJOR|MINOR|           ADDR_FULL|TARGET|        all_features|
+----------+-----+-----+--------------------+------+--------------------+
|0013001052| 1300| 1052|      8807 2ND AVE S| false|(21149,[0,1,2,3,4...|
|0034001655| 3400| 1655| 4330 SW SOUTHERN ST| false|(21149,[0,1,2,3,4...|
|0056000120| 5600| 0120| 5755 SW ADMIRAL WAY| false|(21149,[0,1,2,3,4...|
|0130000135|13000| 0135|    3905 NE 100TH ST| false|(21149,[0,1,2,3,4...|
|0139000145|13900| 0145|    1738 ALKI AVE SW| false|(21149,[0,1,2,3,4...|
|0145000215|14500| 0215|  5616 SW HANFORD ST| false|(21149,[0,1,2,3,4...|
|0148000659|14800| 0659|    3435 61ST AVE SW| false|(21149,[0,1,2,3,4...|
|0173000060|17300| 0060|      301 N 138TH ST| false|(21149,[0,1,2,3,4...|
|0202300045|20230| 0045|  14032 BAGLEY AVE N| false|(21149,[0,1,2,3,4...|
|0223039235|22303| 9235|   10434 39TH AVE SW| false|(21149,[0,1,2,3,4...|
|0225039108|22503| 9108|    7359 24TH AVE NW| false|(21149,[0,1,2,3,4...|
|0225039151|22503| 9151|    8066 27TH AVE NW| false|(21149,[0,1,2,3,4...|
|0272000400|27200| 0400|1729 MARTIN LUTHE...| false|(21149,[0,1,2,3,4...|
|0306000561|30600| 0561|     931 B N 98TH ST| false|(21149,[0,1,2,3,4...|
|0327000195|32700| 0195|    7717 57TH AVE NE| false|(21149,[0,1,2,3,4...|
|0345000015|34500| 0015|        701 35TH AVE| false|(21149,[0,1,2,3,4...|
|0345000125|34500| 0125|  3514 E COLUMBIA ST| false|(21149,[0,1,2,3,4...|
|0402000030|40200| 0030|   7952 RENTON AVE S| false|(21149,[0,1,2,3,4...|
|0430000060|43000| 0060|    7042 43RD AVE NE| false|(21149,[0,1,2,3,4...|
|0438000175|43800| 0175|    8035 30TH AVE NE| false|(21149,[0,1,2,3,4...|
+----------+-----+-----+--------------------+------+--------------------+
only showing top 20 rows

In [150]:
train, test = full.randomSplit([.7, .3])

In [157]:
a = pd.DataFrame(data = [True, False, True], columns = ['b'])

In [158]:
a

       b
0   True
1  False
2   True

In [159]:
a['b'] = a['b']*1

In [160]:
a

   b
0  1
1  0
2  1

In [8]:
prediction = run_first_model()

Test Error = 0.500487

In [60]:
prediction.show()

+----------+------+-----+-------------------+------+--------------------+--------------------+--------------------+----------+
|       PIN| MAJOR|MINOR|          ADDR_FULL|TARGET|        all_features|       rawPrediction|         probability|Prediction|
+----------+------+-----+-------------------+------+--------------------+--------------------+--------------------+----------+
|0439000575| 43900| 0575|    2700 NE 86TH ST|     0|(21149,[0,1,2,3,4...|[7.69603053565722...|[0.99954557835642...|       0.0|
|0723000290| 72300| 0290|   3825 41ST AVE NE|     0|(21149,[0,1,2,3,4...|[6.14283764029509...|[0.99785579012751...|       0.0|
|0809002716| 80900| 2716|2112 B WARREN AVE N|     0|(21149,[0,1,2,3,4...|[6.00566711841938...|[0.99754131550558...|       0.0|
|0924000040| 92400| 0040|   13216 3RD AVE NW|     0|(21149,[0,1,2,3,4...|[8.83908093130428...|[0.99985506509925...|       0.0|
|0925049272| 92504| 9272|   6065 26TH AVE NE|     0|(21149,[0,1,2,3,4...|[4.53907604981995...|[0.98942965309297...|       0.0|
|0976000145| 97600| 0145|     2622 4TH AVE W|     0|(21149,[0,1,2,3,4...|[7.50218284350683...|[0.99944842601153...|       0.0|
|1102001229|110200| 1229|     5781 S EDDY ST|     0|(21149,[0,1,2,3,4...|[8.49147308101791...|[0.99979483135750...|       0.0|
|1338801005|133880| 1005|      2300 E ROY ST|     0|(21149,[0,1,2,3,4...|[7.14813891188417...|[0.99921429168037...|       0.0|
|1525039020|152503| 9020|    3053 38TH AVE W|     0|(21149,[0,1,2,3,4...|[7.42405619550523...|[0.99940363206533...|       0.0|
|1529300345|152930| 0345|9527 EVANSTON AVE N|     0|(21149,[0,1,2,3,4...|[9.26390312753504...|[0.99990522433762...|       0.0|
|1601600140|160160| 0140|    7955 46TH AVE S|     0|(21149,[0,1,2,3,4...|[8.86867821374173...|[0.99985929132395...|       0.0|
|1787600198|178760| 0198|    144 NE 130TH ST|     0|(21149,[0,1,2,3,4...|[8.69224684678734...|[0.99983214578364...|       0.0|
|1860600025|186060| 0025|     1521 7TH AVE W|     0|(21149,[0,1,2,3,4...|[6.91600880122059...|[0.99900920220930...|       0.0|
|1934800047|193480| 0047|       167 20TH AVE|     0|(21149,[0,1,2,3,4...|[8.2001175196533,...|[0.99972545410147...|       0.0|
|2126049208|212604| 9208|   2327 NE 127TH ST|     0|(21149,[0,1,2,3,4...|[9.41841711555831...|[0.99991879212451...|       0.0|
|2313900095|231390| 0095|   3267 39TH AVE SW|     0|(21149,[0,1,2,3,4...|[8.70084106809493...|[0.99983358193969...|       0.0|
|2402100360|240210| 0360|8232 MERIDIAN AVE N|     0|(21149,[0,1,2,3,4...|[7.82373002597141...|[0.99960003362318...|       0.0|
|2425039115|242503| 9115|     2562 4TH AVE W|     0|(21149,[0,1,2,3,4...|[7.53193885678924...|[0.99946458821308...|       0.0|
|2461900355|246190| 0355|   5427 40TH AVE SW|     0|(21149,[0,1,2,3,4...|[8.48056846703951...|[0.99979258229642...|       0.0|
|2740600105|274060| 0105|   1121 S DAWSON ST|     0|(21149,[0,1,2,3,4...|[8.01746307707013...|[0.99967045336388...|       0.0|
+----------+------+-----+-------------------+------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [61]:
prediction.filter(prediction.TARGET==1).show()

+----------+------+-----+--------------------+------+--------------------+--------------------+--------------------+----------+
|       PIN| MAJOR|MINOR|           ADDR_FULL|TARGET|        all_features|       rawPrediction|         probability|Prediction|
+----------+------+-----+--------------------+------+--------------------+--------------------+--------------------+----------+
|1393300020|139330| 0020|    5917 35TH AVE SW|     1|(21149,[0,1,2,3,4...|[8.52502851659474...|[0.99980160031205...|       0.0|
|9424400146|942440| 0146|   4909 SW DAKOTA ST|     1|(21149,[0,1,2,3,4...|[8.62207205813402...|[0.99981994570769...|       0.0|
|0597000661| 59700| 0661|   3027 BEACON AVE S|     1|(21149,[0,1,2,3,4...|[6.94221213006907...|[0.99903480248005...|       0.0|
|7625700436|762570| 0436|5248 CALIFORNIA A...|     1|(21149,[0,1,2,3,4...|[5.65453218110102...|[0.99651060767053...|       0.0|
|1125049162|112504| 9162|     5614 NE 60TH ST|     1|(21149,[0,1,2,3,4...|[3.90281419927504...|[0.98021434717827...|       0.0|
|0510002820| 51000| 2820|  4329 CORLISS AVE N|     1|(21149,[0,1,2,3,4...|[8.90560923838373...|[0.99986439236181...|       0.0|
|8122100821|812210| 0821|   3009 SW MYRTLE ST|     1|(21149,[0,1,2,3,4...|[9.06455204125751...|[0.99988431825670...|       0.0|
|3448002180|344800| 2180|    3206 NE 117TH ST|     1|(21149,[0,1,2,3,4...|[8.60314902700294...|[0.99981650672453...|       0.0|
|6852700268|685270| 0268|  1052 E HARRISON ST|     1|(21149,[0,1,2,3,4...|[9.40218391347507...|[0.99991746321239...|       0.0|
|2926049492|292604| 9492|    11338 3RD AVE NE|     1|(21149,[0,1,2,3,4...|[7.34267580374689...|[0.99935310263645...|       0.0|
|7174800560|717480| 0560| 5201 RAVENNA AVE NE|     1|(21149,[0,1,2,3,4...|[3.87970082196156...|[0.97976107126023...|       0.0|
|0993000380| 99300| 0380|  8839 MIDVALE AVE N|     1|(21149,[0,1,2,3,4...|[9.16868518657277...|[0.99989575737410...|       0.0|
|8817400180|881740| 0180|5001 BROOKLYN AVE NE|     1|(21149,[0,1,2,3,4...|[6.23436337286251...|[0.99804296034969...|       0.0|
|6762700525|676270| 0525|  1131 FEDERAL AVE E|     1|(21149,[0,1,2,3,4...|[6.90040400587648...|[0.99899363542984...|       0.0|
|4206900260|420690| 0260|     3814 4TH AVE NE|     1|(21149,[0,1,2,3,4...|[6.33712954334017...|[0.99823375128890...|       0.0|
|3320500055|332050| 0055|   509 RAINIER AVE S|     1|(21149,[0,1,2,3,4...|[10.2882652596514...|[0.99996597106239...|       0.0|
|1330300416|133030| 0416|     2136 38TH AVE E|     1|(21149,[0,1,2,3,4...|[7.53116619163197...|[0.99946417458093...|       0.0|
|9352900280|935290| 0280|    9210 18TH AVE SW|     1|(21149,[0,1,2,3,4...|[4.18182352571553...|[0.98495904911751...|       0.0|
|2324039097|232403| 9097|5024 FAUNTLEROY W...|     1|(21149,[0,1,2,3,4...|[8.38429849373706...|[0.99977162622187...|       0.0|
|4088800556|408880| 0556|    1213 E SHELBY ST|     1|(21149,[0,1,2,3,4...|[10.1263752500211...|[0.99995999136529...|       0.0|
+----------+------+-----+--------------------+------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [57]:
pred_pandas = prediction.select(['PIN','rawPrediction','TARGET', 'probability', 'Prediction']).toPandas()

In [58]:
pred_pandas[pred_pandas['Prediction']==1]

,PIN,rawPrediction,TARGET,probability,Prediction
526,7625700430,"[-0.03647033266119326, 0.03647033266119326]",0,"[0.4908834272971438, 0.5091165727028563]",1.0
1750,4418100050,"[-20.20104369131828, 20.20104369131828]",0,"[1.6857695131914443e-09, 0.9999999983142305]",1.0
3072,1689401250,"[-0.41463623897449775, 0.41463623897449775]",0,"[0.39780096077307814, 0.6021990392269219]",1.0
3792,3574300025,"[-1.0530692107242396, 1.0530692107242396]",0,"[0.25863616379557186, 0.7413638362044281]",1.0
5339,5457300320,"[-0.47573385755593467, 0.47573385755593467]",0,"[0.38326001741034166, 0.6167399825896583]",1.0
5348,7234601215,"[-2.5767735035990693, 2.5767735035990693]",0,"[0.07064828004857143, 0.9293517199514286]",1.0
9870,9126101100,"[-2.481703827294173, 2.481703827294173]",0,"[0.07715080465733457, 0.9228491953426654]",1.0
9877,0455000505,"[-1.2614531349860556, 1.2614531349860556]",0,"[0.22072384455356645, 0.7792761554464336]",1.0
9955,3448001770,"[-23.441685578591958, 23.441685578591958]",0,"[6.597893584818383e-11, 0.999999999934021]",1.0
10311,7129300025,"[-19.926310365097283, 19.926310365097283]",0,"[2.218775505540417e-09, 0.9999999977812244]",1.0

In [45]:
pred_pandas[pred_pandas['TARGET']==1]

,PIN,TARGET,probability,Prediction
168,1393300020,1,"[0.9998016003120537, 0.00019839968794620807]",0.0
328,9424400146,1,"[0.9998199457076952, 0.00018005429230476616]",0.0
388,0597000661,1,"[0.9990348024800577, 0.0009651975199423584]",0.0
527,7625700436,1,"[0.9965106076705329, 0.00348939232946726]",0.0
537,1125049162,1,"[0.9802143471782764, 0.019785652821723666]",0.0
582,0510002820,1,"[0.999864392361811, 0.00013560763818893049]",0.0
631,8122100821,1,"[0.9998843182567053, 0.00011568174329469795]",0.0
714,3448002180,1,"[0.9998165067245363, 0.00018349327546372926]",0.0
768,6852700268,1,"[0.9999174632123966, 8.253678760330443e-05]",0.0
1165,2926049492,1,"[0.9993531026364514, 0.0006468973635485821]",0.0
1221,7174800560,1,"[0.9797610712602348, 0.020238928739765207]",0.0
1724,0993000380,1,"[0.9998957573741076, 0.00010424262589239636]",0.0
1761,8817400180,1,"[0.9980429603496997, 0.001957039650300208]",0.0
1811,6762700525,1,"[0.9989936354298425, 0.0010063645701573125]",0.0
1897,4206900260,1,"[0.9982337512889065, 0.0017662487110934838]",0.0
2277,3320500055,1,"[0.9999659710623904, 3.402893760962938e-05]",0.0
2366,1330300416,1,"[0.9994641745809396, 0.0005358254190604868]",0.0
2576,9352900280,1,"[0.9849590491175199, 0.015040950882480154]",0.0
2637,2324039097,1,"[0.9997716262218785, 0.00022837377812157532]",0.0
2653,4088800556,1,"[0.9999599913652923, 4.000863470760941e-05]",0.0
2693,3834000590,1,"[0.9985567292309457, 0.0014432707690542393]",0.0
2729,1370802455,1,"[0.9995614156497413, 0.0004385843502586834]",0.0
3017,1498302990,1,"[0.996761753584037, 0.003238246415962975]",0.0
3233,7621200125,1,"[0.9997409640011333, 0.0002590359988667266]",0.0
3749,4088802250,1,"[0.9999126500909177, 8.73499090823602e-05]",0.0
3786,2767700090,1,"[0.9926080409909354, 0.007391959009064783]",0.0
4013,5414100070,1,"[0.9996403654058096, 0.00035963459419048046]",0.0
4588,2767602851,1,"[0.9984649893372037, 0.0015350106627962628]",0.0
4720,6911700005,1,"[0.9973677549686316, 0.0026322450313684387]",0.0
5303,9272202260,1,"[0.9994483470331372, 0.000551652966862646]",0.0
5433,3438501621,1,"[0.9993174956440494, 0.0006825043559506166]",0.0
5676,0306000465,1,"[0.9999112920966072, 8.870790339278296e-05]",0.0
5706,4443800300,1,"[0.9994292468667658, 0.000570753133234041]",0.0
5721,6889900276,1,"[0.9989738725482077, 0.0010261274517922273]",0.0
5777,8032700181,1,"[0.9978763388871489, 0.0021236611128511405]",0.0
5893,9116000040,1,"[0.997965486796853, 0.0020345132031469562]",0.0
6161,1972200191,1,"[0.999616057171998, 0.0003839428280019675]",0.0
6208,1972205220,1,"[0.9986451309538359, 0.0013548690461640865]",0.0
6244,1498300905,1,"[0.9971637245453658, 0.0028362754546341034]",0.0
6249,1989201005,1,"[0.9993010911010183, 0.0006989088989818624]",0.0
6488,5499200035,1,"[0.9946177768922491, 0.005382223107750837]",0.0
6529,2719100245,1,"[0.9997921890803829, 0.00020781091961701592]",0.0
6553,6821102320,1,"[0.9874952175630924, 0.01250478243690766]",0.0
6589,2397100155,1,"[0.9994560173268677, 0.000543982673132291]",0.0
6677,2902200916,1,"[0.9999320877563078, 6.79122436920473e-05]",0.0
7290,3644100169,1,"[0.999987660044519, 1.2339955480949716e-05]",0.0
7336,2883201175,1,"[0.9935245398757712, 0.0064754601242287945]",0.0
7397,6169900695,1,"[0.9997858104898271, 0.00021418951017292717]",0.0
7432,2113200580,1,"[0.9998039109315536, 0.000196089068446406]",0.0
7550,6852700477,1,"[0.9942801848718892, 0.005719815128110768]",0.0
7872,3359500715,1,"[0.9997647129567637, 0.0002352870432361792]",0.0
7889,6821100600,1,"[0.985279846984232, 0.014720153015768112]",0.0
8064,1498300730,1,"[0.995650419487566, 0.004349580512433838]",0.0
8754,4386700075,1,"[0.9993518822157396, 0.0006481177842604201]",0.0
8977,7588700200,1,"[0.9997116314296042, 0.00028836857039574464]",0.0
9390,2770604421,1,"[0.9987656970928103, 0.0012343029071897578]",0.0
9833,1954700065,1,"[0.9992402249494569, 0.00075977505054301]",0.0
9855,6411600429,1,"[0.9997885789919886, 0.00021142100801135825]",0.0
9998,2770606800,1,"[0.9995569367337548, 0.00044306326624536337]",0.0

In [13]:
pred_pandas['TARGET'].value_counts()

0    10265
1       59
Name: TARGET, dtype: int64

In [14]:
pred_pandas['Prediction'].value_counts()

0.0    10314
1.0       10
Name: Prediction, dtype: int64

In [4]:
full_data.show()

+----------+-----+-----+--------------------+------+--------------------+
|       PIN|MAJOR|MINOR|           ADDR_FULL|TARGET|        all_features|
+----------+-----+-----+--------------------+------+--------------------+
|0013001052| 1300| 1052|      8807 2ND AVE S|     0|(21149,[0,1,2,3,4...|
|0034001655| 3400| 1655| 4330 SW SOUTHERN ST|     0|(21149,[0,1,2,3,4...|
|0056000120| 5600| 0120| 5755 SW ADMIRAL WAY|     0|(21149,[0,1,2,3,4...|
|0130000135|13000| 0135|    3905 NE 100TH ST|     0|(21149,[0,1,2,3,4...|
|0139000145|13900| 0145|    1738 ALKI AVE SW|     0|(21149,[0,1,2,3,4...|
|0145000215|14500| 0215|  5616 SW HANFORD ST|     0|(21149,[0,1,2,3,4...|
|0148000659|14800| 0659|    3435 61ST AVE SW|     0|(21149,[0,1,2,3,4...|
|0173000060|17300| 0060|      301 N 138TH ST|     0|(21149,[0,1,2,3,4...|
|0202300045|20230| 0045|  14032 BAGLEY AVE N|     0|(21149,[0,1,2,3,4...|
|0223039235|22303| 9235|   10434 39TH AVE SW|     0|(21149,[0,1,2,3,4...|
|0225039108|22503| 9108|    7359 24TH AVE NW|     0|(21149,[0,1,2,3,4...|
|0225039151|22503| 9151|    8066 27TH AVE NW|     0|(21149,[0,1,2,3,4...|
|0272000400|27200| 0400|1729 MARTIN LUTHE...|     0|(21149,[0,1,2,3,4...|
|0306000561|30600| 0561|     931 B N 98TH ST|     0|(21149,[0,1,2,3,4...|
|0327000195|32700| 0195|    7717 57TH AVE NE|     0|(21149,[0,1,2,3,4...|
|0345000015|34500| 0015|        701 35TH AVE|     0|(21149,[0,1,2,3,4...|
|0345000125|34500| 0125|  3514 E COLUMBIA ST|     0|(21149,[0,1,2,3,4...|
|0402000030|40200| 0030|   7952 RENTON AVE S|     0|(21149,[0,1,2,3,4...|
|0430000060|43000| 0060|    7042 43RD AVE NE|     0|(21149,[0,1,2,3,4...|
|0438000175|43800| 0175|    8035 30TH AVE NE|     0|(21149,[0,1,2,3,4...|
+----------+-----+-----+--------------------+------+--------------------+
only showing top 20 rows

In [5]:
train.show()

+----------+-----+-----+--------------------+------+--------------------+
|       PIN|MAJOR|MINOR|           ADDR_FULL|TARGET|        all_features|
+----------+-----+-----+--------------------+------+--------------------+
|0013001052| 1300| 1052|      8807 2ND AVE S|     0|(21149,[0,1,2,3,4...|
|0034001655| 3400| 1655| 4330 SW SOUTHERN ST|     0|(21149,[0,1,2,3,4...|
|0056000120| 5600| 0120| 5755 SW ADMIRAL WAY|     0|(21149,[0,1,2,3,4...|
|0130000135|13000| 0135|    3905 NE 100TH ST|     0|(21149,[0,1,2,3,4...|
|0173000060|17300| 0060|      301 N 138TH ST|     0|(21149,[0,1,2,3,4...|
|0202300045|20230| 0045|  14032 BAGLEY AVE N|     0|(21149,[0,1,2,3,4...|
|0223039235|22303| 9235|   10434 39TH AVE SW|     0|(21149,[0,1,2,3,4...|
|0225039108|22503| 9108|    7359 24TH AVE NW|     0|(21149,[0,1,2,3,4...|
|0225039151|22503| 9151|    8066 27TH AVE NW|     0|(21149,[0,1,2,3,4...|
|0272000400|27200| 0400|1729 MARTIN LUTHE...|     0|(21149,[0,1,2,3,4...|
|0345000125|34500| 0125|  3514 E COLUMBIA ST|     0|(21149,[0,1,2,3,4...|
|0402000030|40200| 0030|   7952 RENTON AVE S|     0|(21149,[0,1,2,3,4...|
|0430000060|43000| 0060|    7042 43RD AVE NE|     0|(21149,[0,1,2,3,4...|
|0438000175|43800| 0175|    8035 30TH AVE NE|     0|(21149,[0,1,2,3,4...|
|0438000180|43800| 0180|    8029 30TH AVE NE|     0|(21149,[0,1,2,3,4...|
|0439000575|43900| 0575|     2700 NE 86TH ST|     0|(21149,[0,1,2,3,4...|
|0455000115|45500| 0115|     5828 1ST AVE NW|     0|(21149,[0,1,2,3,4...|
|0461002055|46100| 2055|    7359 14TH AVE NW|     0|(21149,[0,1,2,3,4...|
|0461005005|46100| 5005|  7055 DIBBLE AVE NW|     0|(21149,[0,1,2,3,4...|
|0477000024|47700| 0024|     2631 NW 60TH ST|     0|(21149,[0,1,2,3,4...|
+----------+-----+-----+--------------------+------+--------------------+
only showing top 20 rows

In [6]:
test.show()

+----------+------+-----+--------------------+------+--------------------+
|       PIN| MAJOR|MINOR|           ADDR_FULL|TARGET|        all_features|
+----------+------+-----+--------------------+------+--------------------+
|0139000145| 13900| 0145|    1738 ALKI AVE SW|     0|(21149,[0,1,2,3,4...|
|0145000215| 14500| 0215|  5616 SW HANFORD ST|     0|(21149,[0,1,2,3,4...|
|0148000659| 14800| 0659|    3435 61ST AVE SW|     0|(21149,[0,1,2,3,4...|
|0306000561| 30600| 0561|     931 B N 98TH ST|     0|(21149,[0,1,2,3,4...|
|0327000195| 32700| 0195|    7717 57TH AVE NE|     0|(21149,[0,1,2,3,4...|
|0345000015| 34500| 0015|        701 35TH AVE|     0|(21149,[0,1,2,3,4...|
|0461005385| 46100| 5385|     7051 8TH AVE NW|     0|(21149,[0,1,2,3,4...|
|0590000000| 59000| 0000|     526 W MERCER PL|     0|(21149,[0,1,2,3,4...|
|0613400200| 61340| 0200|    2516 S WILLOW ST|     0|(21149,[0,1,2,3,4...|
|0643250000| 64325| 0000|     1617 SUMMIT AVE|     0|(21149,[0,1,2,3,4...|
|0755000015| 75500| 0015|    3310 BEACH DR SW|     0|(21149,[0,1,2,3,4...|
|0853400170| 85340| 0170|  1262 NW BLAKELY CT|     0|(21149,[0,1,2,3,4...|
|0917000350| 91700| 0350|      1156 N 80TH ST|     0|(21149,[0,1,2,3,4...|
|0923000447| 92300| 0447|    13038 7TH AVE NW|     0|(21149,[0,1,2,3,4...|
|0952003360| 95200| 3360|    4121 38TH AVE SW|     0|(21149,[0,1,2,3,4...|
|0952006783| 95200| 6783|    4506 41ST AVE SW|     0|(21149,[0,1,2,3,4...|
|1015000070|101500| 0070|     9001 1ST AVE NW|     0|(21149,[0,1,2,3,4...|
|1069000040|106900| 0040|2827 W VIEWMONT W...|     0|(21149,[0,1,2,3,4...|
|1102000125|110200| 0125|     6338 51ST AVE S|     0|(21149,[0,1,2,3,4...|
|1102000762|110200| 0762|    5633 S WILLOW ST|     0|(21149,[0,1,2,3,4...|
+----------+------+-----+--------------------+------+--------------------+
only showing top 20 rows

In [42]:
gis2.loc['4418100050']

OBJECTID                                                  371163
MAJOR                                                     441810
MINOR                                                       0050
COMMENTS             1stry, tan, cream trim, grn door, chim on L
SITETYPE                                                      R1
                                     ...
PROPTYPE                                                       R
KCA_ZONING                                               SF 5000
KCA_ACRES                                               0.122773
PREUSE_CODE                                                    2
PREUSE_DESC    Single Family(Res Use/Zone)                   ...
Name: 4418100050, Length: 63, dtype: object

In [59]:
gis[gis['PIN']=='5457300320']

,PIN,MAJOR,MINOR,SITETYPE,ADDR_FULL,LAT,LON,KCTP_STATE,LOTSQFT,LEVYCODE,...,SEC,TWP,RNG,Shape_Length,Shape_Area,PROPTYPE,KCA_ZONING,KCA_ACRES,PREUSE_DESC,TARGET
399667,5457300320,545730,0320,R1,121 ALOHA ST,47.627016,-122.354307,WA,4410.0,10.0,...,30.0,25.0,4.0,278.005156,4405.495241,R,LR3,0.10124,Single Family(Res Use/Zone) ...,0

In [56]:
for PIN in pred_pandas[pred_pandas['Prediction']==1]['PIN']:
    print(gis[gis['PIN']==PIN][['PIN','ADDR_FULL','SITETYPE']])

               PIN               ADDR_FULL SITETYPE
497542  7625700430  5252 CALIFORNIA AVE SW       C1
               PIN         ADDR_FULL SITETYPE
371162  4418100050  4315 SW HINDS ST       R1
               PIN       ADDR_FULL SITETYPE
130018  1689401250  1616 5TH AVE N       R1
               PIN         ADDR_FULL SITETYPE
303148  3574300025  4306 26TH AVE SW       R1
               PIN     ADDR_FULL SITETYPE
399667  5457300320  121 ALOHA ST       R1
               PIN      ADDR_FULL SITETYPE
474233  7234601215  1728 18TH AVE       R1
               PIN     ADDR_FULL SITETYPE
579449  9126101100  607 22ND AVE       R1
              PIN       ADDR_FULL SITETYPE
31805  0455000505  201 NW 60TH ST       R1
               PIN               ADDR_FULL SITETYPE
296338  3448001770  11514 LAKE CITY WAY NE       C1
               PIN       ADDR_FULL SITETYPE
459587  7129300025  7223 S TAFT ST       R1

In [ ]:
((True) | (False))

In [79]:
gis = gis_data_to_spark(10)

In [86]:
gis[gis["TARGET"]==1]['fold'].value_counts()

1    193
3    190
6    185
5    180
7    178
4    174
9    172
0    172
8    171
2    167
Name: fold, dtype: int64

In [91]:
type(gis)

pandas.core.frame.DataFrame

In [94]:
gisSpark = gis_data_to_spark(10)

In [95]:
gisSpark.show()

+----------+-----+-----+--------------------+------+----+--------------------+
|       PIN|MAJOR|MINOR|           ADDR_FULL|TARGET|fold|        gis_features|
+----------+-----+-----+--------------------+------+----+--------------------+
|0001800001|  180| 0001|1742 S COLUMBIAN WAY|     0|   5|(581,[0,1,2,3,4,5...|
|0001800002|  180| 0002|1727 S SNOQUALMIE ST|     0|   6|(581,[0,1,2,3,4,5...|
|0001800004|  180| 0004|  1716 S ANGELINE ST|     0|   0|(581,[0,1,2,3,4,5...|
|0001800006|  180| 0006|  1568 S ANGELINE ST|     0|   1|(581,[0,1,2,3,4,5...|
|0001800008|  180| 0008|  1526 S ANGELINE ST|     0|   7|(581,[0,1,2,3,4,5...|
|0001800009|  180| 0009|1517 S SNOQUALMIE ST|     0|   1|(581,[0,1,2,3,4,5...|
|0001800010|  180| 0010|1525 S SNOQUALMIE ST|     0|   1|(581,[0,1,2,3,4,5...|
|0001800011|  180| 0011|1509 S SNOQUALMIE ST|     0|   6|(581,[0,1,2,3,4,5...|
|0001800018|  180| 0018|    1000 S MYRTLE ST|     0|   1|(581,[0,1,2,3,4,5...|
|0001800020|  180| 0020|     6118 12TH AVE S|     0|   8|(581,[0,1,2,3,4,5...|
|0001800021|  180| 0021|      1201 S VALE ST|     0|   7|(581,[0,1,2,3,4,5...|
|0001800033|  180| 0033|    6500 URSULA PL S|     0|   5|(581,[0,1,2,3,4,5...|
|0001800045|  180| 0045|     4614 15TH AVE S|     0|   2|(581,[0,1,2,3,4,5...|
|0001800046|  180| 0046|  6106 AIRPORT WAY S|     0|   0|(581,[0,1,2,3,4,8...|
|0001800050|  180| 0050|1501 S SNOQUALMIE ST|     0|   4|(581,[0,1,2,3,4,5...|
|0001800058|  180| 0058|    1615 S GRAHAM ST|     0|   6|(581,[0,1,2,3,4,6...|
|0001800063|  180| 0063|     6100 12TH AVE S|     0|   6|(581,[0,1,2,3,4,5...|
|0001800066|  180| 0066|      818 S ORCAS ST|     0|   6|(581,[0,1,2,3,4,5...|
|0001800073|  180| 0073|     824A S ORCAS ST|     0|   4|(581,[0,1,2,3,4,5...|
|0001800074|  180| 0074|     824B S ORCAS ST|     0|   7|(581,[0,1,2,3,4,5...|
+----------+-----+-----+--------------------+------+----+--------------------+
only showing top 20 rows

In [ ]:
rf_acc, rf_pred = run_model()